
.barra-Principal,.pie {
	margin-top: 2%;
	margin-right: 2%;
	margin-left: 2%;
	border-radius: 5%;
	
}

.pie{
	text-align: center;
	 color: #777;
}

header{width:95%;margin: 0 auto;}

.glyphicon{padding:2px;}
.glyphicon-home{font-size:14px;}

li a span{font-size:11px; margin-right:5px; margin-left:-10px;}

#inicio{font-size:16px;}

.header-izq{float:left;}
.header-der{float:right;}

.clearfix{clear: both}
#contenedor{width:90%; margin:0 auto;}

.cajaLogin{
	display:block; 
    width:400px; 
    height:250px; 
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:-125px; 
    margin-left:-200px;
}

.boton-enviar{
	float: right;
  	margin-top: 10px;
	margin-bottom: -10px;
}

.right{
	float:right;
}

.input-login{
	margin:10px 0px 10px 0px;
}

.glyphicon-eye-open:hover{color:blue;}
.glyphicon-pencil:hover{color:green;}
.glyphicon-remove:hover{color:red;}
