
.barra-Principal,.pie {
	margin-top: 2%;
	margin-right: 2%;
	margin-left: 2%;
	border-radius: 5%;
	
}

.aviso-completar{
	margin-top: 2%;
}

.pie{
	text-align: center;
	 color: #777;
}

.boton-centrado{
	position: center;
    float: none;
   
}

.displayNone{display: none;}
.displayBlock{display: block;}

th,td {
	text-align: center;
}

.fila-de-boton{
	margin-top: 3%;
}

.fila-de-titulo{

	text-align: center;
	margin-bottom: 3%;
	border-bottom: medium solid #e7e7e7;
}

header{width:95%;margin: 0 auto;}

.glyphicon{padding:2px;}
.glyphicon-home{font-size:14px;}

li a span{font-size:11px; margin-right:5px; margin-left:-10px;}

#inicio{font-size:16px;}

#detactividad{resize:none;}
.header-izq{float:left;}
.header-der{float:right;}

.clearfix{clear: both}
#contenedor{width:90%; margin:0 auto; min-height: 300px}

.cajaLogin{
	display:block; 
    width:400px; 
    height:250px; 
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:-125px; 
    margin-left:-200px;
}

.boton-enviar{
	float: right;
  	margin-top: 10px;
	margin-bottom: -10px;
}

.right{
	float:right;
}
.left{
	float:left;
}

.center{
	display:block;
	margin: 0 auto;
}

.input-login{
	margin:10px 0px 10px 0px;
}

.glyphicon-eye-open:hover{color:blue;}
.glyphicon-pencil:hover{color:green;}
.glyphicon-remove:hover{color:red;}

#tituloBloque{border-bottom: 2px solid #e7e7e7; padding-bottom:5px; padding-right:10px; float:left; margin:0 auto; margin-bottom:20px; border-bottom-right-radius: 10px; border-right:2px solid #e7e7e7;}
#bloqueInfo{margin-left:20px; margin-bottom:20px;}
.botonVer{width:150px; padding:0; font-size: 15px; display:inline-block; margin:0!important;}

.controles form{display:inline-block;}
.controles form a{color:black;}

/* Bordes de tabla Roles */
.bi {border-left: 1px solid #ccc} /*Borde Izquierdo*/
.bd {border-right: 1px solid #ccc} /*Borde Derecho*/
.bt {border-top: 1px solid #ccc!important} /* Borde Arriba */
.bb {border-bottom: 1px solid #ccc} /* Borde Abajo */

#referenciasRol{ margin-bottom:30px;}
.tituloRol {font-weight: bold; color:#666;}

.activoSI{background-color:#45B500; color:white; font-weight:bold}
.activoNO{background-color:red; color:white; font-weight:bold}

hr{border:1px solid #ccc;}

.enviarRol{margin-top:100px;}

.gris{color:gray;}

#filtroPor{margin-top:30px; padding-bottom: 10px; display:inline-block; margin-left:20px;}
#filtroPor span{display:inline-block;}
#filtroPor select{display:inline-block; width:150px; margin-left:10px;}
#herramientas_botones, #herramientasTop{display:inline-block;}

.inline-block{display:inline-block!important;}
.block{display:block!important;}

#accionActivo{padding:10px;}
.accionActivoparent a{text-decoration: none;}

#datoTexto{width:200px; padding-bottom:8px;}

#botonesTop{margin-top:-57px;}
#botonesTop a{ display:inline-block; width:170px;}
#botonesTop a:nth-child(2){margin:0px;}