
.barra-Principal,.pie {
	margin-top: 2%;
	margin-right: 2%;
	margin-left: 2%;
	border-radius: 5%;
	
}

.aviso-completar{
	margin-top: 2%;
}

.pie{
	text-align: center;
	 color: #777;
}

.boton-centrado{
	position: center;
    float: none;
   
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
	text-align: center;
}

.displayNone{display: none!important;}
.displayBlock{display: block!important	;}

th,td {
	text-align: center;
}


.fila-de-boton{
	margin-top: 3%;
}

.fila-de-titulo{

	text-align: center;
	margin-bottom: 3%;
	border-bottom: medium solid #e7e7e7;
}

header{width:95%;margin: 0 auto;}

.glyphicon{padding:2px;}
.glyphicon-home{font-size:14px;}

li a span{font-size:11px; margin-right:5px; margin-left:-10px;}

#inicio{font-size:16px;}

#detactividad{resize:none;}
.header-izq{float:left;}
.header-der{float:right;}

.clearfix{clear: both}
#contenedor{width:90%; margin:0 auto; min-height: 300px}

.cajaLogin{
	display:block; 
    width:400px; 
    height:250px; 
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:-125px; 
    margin-left:-200px;
}

.boton-enviar{
	float: right;
  	margin-top: 10px;
	margin-bottom: -10px;
}

.right{
	float:right;
}
.left{
	float:left;
}

.center{
	display:block;
	margin: 0 auto;
}

.input-login{
	margin:10px 0px 10px 0px;
}

.glyphicon-eye-open:hover{color:blue;}
.glyphicon-pencil:hover{color:green;}
.glyphicon-remove:hover{color:red;}

#tituloBloque{border-bottom: 2px solid #e7e7e7; padding-bottom:5px; padding-right:10px; float:left; margin:0 auto; margin-bottom:20px; border-bottom-right-radius: 10px; border-right:2px solid #e7e7e7;}
#bloqueInfo{margin-left:20px; margin-bottom:20px;}
.botonVer{width:150px; padding:0; font-size: 15px; display:inline-block; margin:0!important;}

.controles form{display:inline-block;}
.controles form a{color:black;}

/* Bordes de tabla Roles */
.bi {border-left: 1px solid #ccc} /*Borde Izquierdo*/
.bd {border-right: 1px solid #ccc} /*Borde Derecho*/
.bt {border-top: 1px solid #ccc!important} /* Borde Arriba */
.bb {border-bottom: 1px solid #ccc} /* Borde Abajo */

#referenciasRol{ margin-bottom:30px;}
.tituloRol {font-weight: bold; color:#666;}

.activoSI{background-color:#45B500; color:white; font-weight:bold}
.activoNO{background-color:red; color:white; font-weight:bold}

hr{border:1px solid #ccc;}

.enviarRol{margin-top:100px;}

.gris{color:gray;}

#filtroPor{padding-bottom: 10px; display:inline-block; margin-left:20px;}
#filtroPor span{display:inline-block;}
#filtroPor select{display:inline-block; width:160px; margin-left:10px;}
#form_herramientas_empresa #datoTexto{width:170px;}
#herramientas_botones, #herramientasTop{display:inline-block;}

#form_herramientas_empresa{  position: relative;  z-index: 999;}

#formBotonesTop{display: inline-block; float:right;margin-top: -44px;}
#form_herramientas_empresa, #form_herramientas_usuario, #form_herramientas_contacto,
#form_herramientas_medidor {width: 640px; margin: 0px; display: inline-block; float: left;}

.filtrandoresultados{margin-bottom:12px!important;}

.inline-block{display:inline-block!important;}
.block{display:block!important;}

#accionActivo{padding:10px;}
.accionActivoparent a{text-decoration: none;}

#datoTexto{width:200px; padding-bottom:8px;}
#dato{display:inline-block;}

#botonesTop{float: right; margin-bottom: 20px;}
#botonesTop a{display:inline-block; width:150px; margin-top:0px;}
#botonesTop a:nth-child(2){margin:0px;}

.filtrandoresultados{height:20px; background:#eee; color:#666; border:0px}
.filtrandoresultados span{  line-height: 2px;}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{  text-align: center;}

.verEmpresa .correo, .verEmpresa .domicilio, .verEmpresa .telefono, .verEmpresa .contacto, .verEmpresa .medidor, .verEmpresa .abonado {list-style: none; margin-left:20px;}
.verEmpresa #detGenerales, .verEmpresa #detTelefono, .verEmpresa #detMedidor, .verEmpresa #detAbonado,
.verEmpresa #detCorreo, .verEmpresa #detDomicilio, .verEmpresa #detContacto, .verEmpresa #detMedidorAbonadoVacio{  border:1px solid #555;}

.verEmpresa #detGenerales { float:left; width:600px; margin-top:20px;border-radius:5px;} 
.verEmpresa #detTelefono, .verEmpresa #detCorreo, 
.verEmpresa #detDomicilio, .verEmpresa #detContacto{ float:right; display:block; width:100%; margin:20px; border-radius:5px;}
.verEmpresa #detAdicionales { float:left; display:inline-block; width:400px; margin-left:100px;}
.verEmpresa #botones{float:right; display:block; margin-right:110px;}
.verEmpresa #detMedidor, .verEmpresa #detAbonado, .verEmpresa #detMedidorAbonadoVacio{float:left; display:block;border-radius:5px; width:600px; }
.verEmpresa #detMedidor .medidor, .verEmpresa #detAbonado .abonado, .verEmpresa #detMedidorAbonadoVacio .medidorAbonado {margin-left:20px;}
.medidor .right, .medidor .left, .medidorAbonado .left, .medidorAbonado .right{width:50%;}
.verEmpresa .generales {margin-left:20px; list-style: none;}
.verEmpresa .medidorAbonado {list-style: none}
.verEmpresa .tituloBloqueDet p:nth-child(1){background-color:#EEE; width:100%; padding: 5px 0px 5px 20px;}
.medidor .left p:nth-child(1), .medidor .right p:nth-child(1),
.abonado .left p:nth-child(1), .medidorAbonado p:nth-child(1){background-color:#fff!important; padding:0px!important;}
#botones button{margin-top:20px;}
.editBlockDet {margin-right:10px; color:#bbb;}
.botonAsociarLeft{width:200px!important; margin:5px; margin-bottom: 10px!important;float:right!important;}
.botonAsociarRight{width:200px!important; margin:5px;margin-bottom: 10px!important;float:left!important;}

#bottonEnviarCorreo{display:inline-block!important; width:150px;}

.noInfoDetalle{padding-left:20px;}

.inf{text-align:center!important;}

.footer{clear:both;}