{% extends "basePrivada.html.twig" %}
 
{% block title %}Acceso denegado {% endblock %}

{% block contenedor %}
	<style type="text/css">
	<!--
	.asd {font-family: Tahoma, Geneva, sans-serif;font-size: 18px;}
	.asd2 {font-family: Tahoma, Geneva, sans-serif;font-size: 14px;}
	.rrr {font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
	-->
	</style>



	<div align="center">
		<p class="asd"><strong>La página solicitada no se encuentra o usted no tiene permisos para verla</strong></p>
		<p class="asd2">Si el error persiste póngase en contacto con el administrador.</p>
		<p><img src="../img/ERROR.jpg" width="570" height="400" /></p>

		 <div class="row fila-de-boton">
			 	<div class=" col-lg-4"></div>
			 	<div class=" col-lg-4">
					<form action="privado.php"  >
						<button type="submit" class="btn btn-default btn-lg btn-block col-lg-4" >
							Volver
						</button>
					</a>
				</div>
				<div class=" col-lg-4"></div>
			</div>

		
	</div>
{% endblock %}

