<!DOCTYPE html>
<html>

    <head>
        {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    		<meta name="viewport" content="width=device-width, initial-scale=1">
    		<link rel="shortcut icon" href="favicon.ico" />
    		<link href="../css/bootstrap.css" rel="stylesheet" media="screen">
    		<link href="../css/admin.css" rel="stylesheet" media="screen">
            <script src="http://code.jquery.com/jquery.js"></script>
            <script src="../js/bootstrap.min.js"></script>
            <title>{% block title %}{% endblock %} - </title>
        {% endblock %}
    </head>
    <body>
        
        <!-- Empieza la barra -->
        <nav class="navbar navbar-default barra-Principal">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              </button>
              <a class="navbar-brand" href="#">Inicio</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Usuario<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Alta usuario</a></li>
                    <li><a href="#">Modificar usuario</a></li>
                    <li><a href="#">Eliminar usuario </a></li>
                    <li><a href="#">Ver usuarios</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Rol<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Alta rol</a></li>
                    <li><a href="#">Modificar rol</a></li>
                    <li><a href="#">Eliminar rol </a></li>
                    <li><a href="#">Ver rol</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Socios<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Alta Socios</a></li>
                    <li><a href="#">Modificar socios</a></li>
                    <li><a href="#">Eliminar socios </a></li>
                    <li><a href="#">Ver socios</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Medidor<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Alta Medidor</a></li>
                    <li><a href="#">Modificar Medidor</a></li>
                    <li><a href="#">Eliminar Medidor </a></li>
                    <li><a href="#">Ver Medidor</a></li>
                  </ul>
                </li>
                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Comercio/Industria<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Alta Comercio/Industria</a></li>
                    <li><a href="#">Modificar Comercio/Industria</a></li>
                    <li><a href="#">Eliminar Comercio/Industria </a></li>
                    <li><a href="#">Ver Comercio/Industria</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mi Perfil<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Modificar mis datos</a></li>
                    <li><a href="#">Cerrar Sesion</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <!-- /.navbar -->
        <div id="conteiner">{% block conteiner %}{% endblock %}</div>
        <div class="footer">
            {% block footer %}
                <div class="panel-footer pie">Sistema de gestion Camara Economica Tres Arroyos</div>
            {% endblock %}
        </div>
    </body>
</html>
