
<html>
    <head>
        {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    		    <meta name="viewport" content="width=device-width, initial-scale=1">
    		    <link rel="shortcut icon" href="favicon.ico" />
            <script src="http://code.jquery.com/jquery.js"></script> 
            <script src="../js/code.js"></script>
            <script src="../js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="../vendor/chosen/chosen.css" type="text/css" />
            <script src="../vendor/chosen/chosen.jquery.js"></script>
    		    <link href="../css/bootstrap.css" rel="stylesheet" media="screen">
            <link href="../css/admin.css" rel="stylesheet" media="screen">
            
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
            <link href="../vendor/bootstrap-fileinput/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
            <script src="../vendor/bootstrap-fileinput/js/fileinput.min.js" type="text/javascript"></script>

            <script src="../vendor/bootstrap-fileinput/js/fileinput_locale_es.js"></script>
            <script language="javascript" type="text/javascript" src="../vendor/tinymce/js/tinymce/tinymce.min.js"></script>
            
            <title>{% block title %}{% endblock %} - Sistema de gestión Cámara Económica Tres Arroyos</title>
       
        {% endblock %}
   
    </head>
    <body >
        <header>
            <div class="header-izq">
                <div id="logo">
                  <a href="privado.php?c=inicio&a=inicio" target:"_self"><img src="../img/CElogo.png"></a>
                </div>
            </div>

            <div class="header-der">
                <div id="bienvenido">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Bienvenido <b>{{user}}</b>
                </div>
            </div>
        </header>
        <div class="clearfix"></div>
        <!-- Empieza la barra -->
        <nav class="navbar navbar-default barra-Principal">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              </button>
              <a class="navbar-brand" href="privado.php?c=inicio&a=inicio">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                  <span id="inicio">Inicio</span>
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Usuario<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="privado.php?c=usuarios&a=listar">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Listar usuarios
                      </a>
                    </li>
                    <li>
                      <a href="privado.php?c=usuarios&a=alta">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Nuevo usuario
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Rol<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="privado.php?c=roles&a=listar">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Listar roles
                      </a>
                    </li>
                    <li>
                      <a href="privado.php?c=roles&a=alta">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Nuevo rol
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contacto<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="privado.php?c=contacto&a=listar&pagina=1">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Listar contacto
                      </a>
                    </li>
                    <li>
                      <a href="privado.php?c=contacto&a=alta">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Nuevo contacto
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Abonado en CE<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="privado.php?c=abonado&a=listar&pagina=1">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Listar Abonados
                      </a>
                    </li>
                    
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Titulares de Medidor<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="privado.php?c=medidor&a=listar&pagina=1">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Listar titulares
                      </a>
                    </li>
                     <li>
                      <a href="privado.php?c=medidor&a=altaNormal">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Nuevo titulares
                      </a>
                    </li>
                   
                  </ul>
                </li>
                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Empresas<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="privado.php?c=empresa&a=listar&pagina=1">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Listar empresa
                      </a>
                    </li>
                    <li>
                      <a href="privado.php?c=empresa&a=alta">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Nueva Empresa
                      </a>
                    </li>
                    <li>
                      <a href="privado.php?c=correo&a=verinf">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Ult. Informe de correo
                      </a>
                    </li>
                  </ul>
                </li>

              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Excel<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="privado.php?c=excel&a=cargarmedidor">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Importar Excel medidor
                      </a>
                    </li>
                    <li>
                      <a href="privado.php?c=excel&a=listarinfmedidores">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Informes Medidor Excel
                      </a>
                    </li>
                    <li>
                      <a href="privado.php?c=excel&a=cargarempresa">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Importar Excel Empresa
                      </a>
                    </li>
                  </ul>
                </li>  
              </ul>
              
              <ul class="nav navbar-nav navbar-right">
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mi Perfil<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="privado.php?c=usuarios&a=misdatos">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Modificar mis datos
                      </a>
                    </li>
                    <li>
                      <a href="logout.php">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>Cerrar Sesion
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <!-- /.navbar -->
        <div id="contenedor">{% block contenedor %}{% endblock %}</div>
        <div class="footer">
            {% block footer %}
                <div class="panel-footer pie">Sistema de gestión Cámara Económica Tres Arroyos</div>
            {% endblock %}
        </div>
    </body>
</html>
