{% extends "basePrivada.html.twig" %}
 
{% block title %}Cargar Excel Medidor {% endblock %}

{% block contenedor %}

<form class="form-horizontal" action="privado.php?c=excel&a=cargarmedidor" role="form" method="POST" enctype="multipart/form-data">
	<div class="contenedor-formulario">
		
		
		<div class="row fila-de-titulo">
			<div class=" col-lg-4"></div>
				<div class=" col-lg-4">
					<h3>  Cargar Excel Medidor</h3>
				</div>
		</div>
		<div class="row aviso-completar">
			<div class=" col-lg-3"></div>
			<div class=" col-lg-6 col-md-6 col-sm-6 recuadro-aviso">
				<div class="alert alert-warning">
   	 				<strong> Seleccione el archivo exel que contiene el listado de abonados en celta que desea cargar, cualquier otro archivo generara un error en el sistema. </strong>
  				</div>
			</div>
		</div>	            
		
		<div class="row">
			 <div class="col-lg-12"> 
			 	<div class="form-group">
					<label class="col-lg-2 control-label">Adjuntos: *</label>
					<div class="col-lg-8 "> 
						<input id="input-es" name="adjunto" type="file" multiple class="file-loading" required/>	
						<script>
							$("#input-es").fileinput({
							    language: "es",
							    showUpload:false, 
							});
						</script>	
					</div>
				</div>
			</div>
		</div>
		<div class="row fila-de-boton">
			 <div class=" col-lg-4"></div>
			 <div class=" col-lg-4">
				<button type="submit" class="btn btn-default btn-lg btn-block col-lg-4" name="enviarExcel">Importar</button>
			</div>
		 </div>
	</div>
</form>
{% endblock %}