{% extends "basePrivada.html.twig" %}
 
{% block title %} Detalle de carga de medidor {% endblock %}
{% block contenedor %}
  <div class="row fila-de-titulo">
    <div class=" col-lg-4"></div>
    <div class=" col-lg-4">
      <h3> Detalle de carga de medidor</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div>
    {{registros}}
  </div>
  <div class="clearfix"></div>
{% endblock %}