{% extends "basePrivada.html.twig" %}
 
{% block title %} Detalle de carga de medidor {% endblock %}
{% block contenedor %}{{id}}

 
  <div class="row fila-de-titulo">
    <div class=" col-lg-4"></div>
    <div class=" col-lg-4">
      <h3> Detalle de carga de medidor</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
      <div class="panel panel-primary ">
          <div class="panel-heading">
            <h3 class="panel-title">Numeros del informe</h3>
          </div>
          <div class="panel-body">
             <div class="row inf" >
                <h5> Total de registros leidos: {{totalRegistros}} </h5> 
              </div>
              <div class="row inf" >
                <h5> Total de registros que fallados: {{registroNoInsertado}} </h5> 
              </div>
              <div class="row inf">
                <h5> Total de Abonados en CELTA insertados: {{medidorInsertado}} </h5> 
              </div>
              <div class="row inf">
                <h5> Total de Abonados en CELTA actualizados: {{medidorActualizado}} </h5> 
              </div>
              <div class="row inf ">
                <h5> Total de empresas actualizadas: {{empresaActualizada}}</h5>
             </div>
             <div class="row inf ">
                <h5> La cantida de relaciones creadas entre abonado CELTA y empresa es: {{relacionInsertada}}</h5>
              </div>
              <div class="row inf ">
                <h5> Abonados CELTA sin empresa insertados: {{medidorSinEmpresaInsertado}}</h5>
              </div>
              <div class="row inf ">
                <h5> Abonados CELTA sin empresa actualizados: {{medidorSinEmpresaActualizado}}</h5>
              </div>
             <div class="row inf">
                <h5> Informe generado: {{fecha}}</h5>
             </div>
          </div>
        </div>
  </div>
  </div>
  <div class="row">
    <div class="row fila-de-titulo">
      <div class=" col-lg-1"></div>
      <div class=" col-lg-10">
        <h4> Informe detallado de regsitros que no se pudieron cargar</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nro Usuario</th>
          <th>Nro Suministro</th>
          <th>Titular Medidor</th>
          <th>Importe</th>
          <th>Numero de fila</th>
        </tr>
      </thead>
      <tbody>
        {% if fallados == null %}
          <tr>
            <td colspan="6">
              Todos los registros del archivo exel fueron procesados 
            </td>
          </tr>
        {% else %}
          {% for item in fallados %}
              <tr>
                <td>
                  {{item.numusuario}}
                </td>
                <td>
                  {{item.numsuministros}}
                </td>
                <td>
                  {{item.apeynom}}
                </td>
                <td>
                  {{item.importe}}
                </td>
                <td>
                  {{item.numerodefila}}
                </td>
              </tr>
          {% endfor %}
         {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="row fila-de-titulo">
      <div class=" col-lg-1"></div>
      <div class=" col-lg-10">
        <h4> Informe detallado de los registros actualizados</h4>
      </div>
    </div>
  </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>¿Se modifico el importe?</th>
          <th>Denominacion</th>
          <th>CUIT</th>
          <th>Empresa</th>
          <th>Nuevo importe</th>
          <th>Medidor</th>
          <th>Titular Medidor</th>
        </tr>
      </thead>
      <tbody>
        {% if actualizados == null %}
          <tr>
            <td colspan="7">
              No se cambiaron importes 
            </td>
          </tr>
        {% else %}
          {% for item in actualizados %}
              <tr>
                <td>
                  {{item.ModImpo}}
                </td>
                <td>
                  {{item.denominacion}}
                </td>
                 <td>
                  {{item.cuit}}
                </td>
                <td>
                  {{item.Empresa}}
                </td>
                <td>
                  {{item.imp}}
                </td>
                <td>
                  {{item.Medidor}}
                </td>
                <td>
                  {{item.titular}}
                </td>
              </tr>
             
          {% endfor %}
       {% endif %}
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
{% endblock %}