{% extends "basePrivada.html.twig" %}
 
{% block title %} Crear Nuevo Contacto {% endblock %}

{% block contenedor %}
	
	<form class="form-horizontal" action="privado.php?c=contacto&a=alta" role="form" method="POST">

		<div class="contenedor-formulario">
			
			<div class="row fila-de-alerta">
				<div class=" col-lg-2"></div>
				 <div class=" col-lg-8">
				 	{% if aviso == 1 %}
						<div class="alert alert-success alert-dismissable">
		   	 				<button type="button" class="close" data-dismiss="alert">×</button>
		    				<strong>Perfecto!</strong> El contacto fue dado de alta con exito.
	  					</div>
  					{% elseif  aviso == 2 %}
  						<div class="alert alert-danger alert-dismissable">
		   	 				<button type="button" class="close" data-dismiss="alert">×</button>
		    				<strong>No se cargo el contacto!</strong> No re cagues ni utilicez f5 en el formulario. Causa: El contacto ya se encuentra en la base de datos
	  					</div>
	  				{% endif %}
				 </div>
			</div>
			<div class="row fila-de-titulo">
				<div class=" col-lg-4"></div>
				 <div class=" col-lg-4">
					<h3> Nuevo Contacto</h3>
				 </div>
			</div>
			 <div class="row">
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Nombre:*</label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="nombre" required/>
						</div>
					</div>
				</div>
				<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Apellido:*</label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="apellido" required/>
						</div>
					</div>
				</div>
			  </div>
			   <div class="row">
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Telefono: </label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="telefono">
						</div>
					</div>
				</div>
				<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Domicilio:* </label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="domicilio" required/>
						</div>
					</div>
				</div>
			 </div>
			 <div class="row">
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Correo: </label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="correo">
						</div>
					</div>
				</div>
			 </div>
			  <div class="row">
			 	<div class=" col-lg-6">
					<input class="col-lg-2" type="checkbox" name="sm"> 
					<label class="col-lg-8">¿Asociado a SM? </label>
			    </div>
				<div class=" col-lg-6">
					<input class="col-lg-2" type="checkbox" name="activo"> 
					<label class="col-lg-8">¿Activo? </label>
				</div>
			 </div>
			 <div class="row fila-de-boton">
			 	<div class=" col-lg-4"></div>
			 	<div class=" col-lg-4">
				<button type="submit" class="btn btn-default btn-lg btn-block col-lg-4" name="enviarContacto">Enviar</button>
				</div>
				<div class=" col-lg-4"></div>
			</div>

			<div class="row aviso-completar">
				<div class=" col-lg-2"></div>
				<div class=" col-lg-8 col-md-8 col-sm-8 recuadro-aviso">
					<div class="alert alert-warning">
   	 					<strong> Los campos marcados con * deben ser completados obligatoriamente para poder guardar el contacto</strong>
  					</div>
				</div>
			</div>

		</div>
	</form>
{% endblock %}