{% extends "basePrivada.html.twig" %}
 
{% block title %}Formulario Contacto {% endblock %}

{% block contenedor %}
	{% if modo == 'alta' %}
		<form class="form-horizontal" action="privado.php?c=contacto&a=alta" role="form" method="POST">
	{% elseif modo == 'modificar' %}
		<form class="form-horizontal" action="privado.php?c=contacto&a=modificar" role="form" method="POST">
	{% elseif modo == 'altaconid' %}
		<form class="form-horizontal" action="privado.php?c=contacto&a=altaconid	&id={{idempresa}}" role="form" method="POST">
	{% endif %}
		<input type="hidden" name="idcontacto" value="{{idcontacto}}">
		{% if modo == 'altaconid' %}
			<input type="hidden" name="idempresa" value="{{idempresa}}">
		{% endif %}
		<div class="contenedor-formulario">
			<h5 id="referenciasRol"><span class="glyphicon glyphicon-tag" style="font-size:10px" aria-hidden="true"></span>Referencias <small>[ SM = Swiss Medical ]</small></h5>
			<div class="row fila-de-alerta">
				<div class=" col-lg-2"></div>
				 <div class=" col-lg-8">
				 	{% if aviso == 1 %}
						<div class="alert alert-success alert-dismissable">
		   	 				<button type="button" class="close" data-dismiss="alert">×</button>
		    				<strong>Perfecto!</strong> El contacto fue guardado correctamente.
	  					</div>
  					{% elseif  aviso == 2 %}
  						<div class="alert alert-danger alert-dismissable">
		   	 				<button type="button" class="close" data-dismiss="alert">×</button>
		    				<strong>No se guardo el contacto!</strong> No re cagues ni utilicez f5 en el formulario. Causa: El contacto ya se encuentra registrado.
	  					</div>
	  				{% elseif  aviso == 3 %}
  						<div class="alert alert-danger alert-dismissable">
		   	 				<button type="button" class="close" data-dismiss="alert">×</button>
		    				<strong>No se guardo el contacto!</strong> No pudimos encontrar el contacto que intentas modificar
	  					</div>
	  				{% endif %}
				 </div>
			</div>
			<div class="row fila-de-titulo">
				<div class=" col-lg-4"></div>
				 <div class=" col-lg-4">
					<h3> Formulario Contacto</h3>
				 </div>
			</div>
			<div class="row aviso-completar">
				<div class=" col-lg-3"></div>
				<div class=" col-lg-6 col-md-6 col-sm-6 recuadro-aviso">
					<div class="alert alert-warning">
   	 					<strong> Los campos marcados con * deben ser completados obligatoriamente </strong>
  					</div>
				</div>
			</div>
			 <div class="row">
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Nombre:*</label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="nombre" placeholder="Nombre" pattern="[a-zA-Z ].{2,}" title="No parece un nombre valido" value="{% if modo == 'modificar' %}{{contacto.getNombre}}{% endif %}" required/>
						</div>
					</div>
				</div>
				<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Apellido:*</label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="apellido" placeholder="Apellido"pattern="[a-zA-Z ].{2,}" title="No parece un apellido valido" value="{% if modo == 'modificar' %}{{contacto.getApellido}}{% endif %}" required/>
						</div>
					</div>
				</div>
			  </div>
			   <div class="row">
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Telefono: </label>
						<div class="col-lg-6 "> 
						  <input type="tel" class="form-control" name="telefono" placeholder="(2983) - 212121" pattern="[0-9._()+-].{2,}" 
						  value="{% if modo == 'modificar' %}{{contacto.getTelefono}}{% endif %}">
						</div>
											
					</div>
				</div>
				<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Domicilio:* </label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="domicilio" placeholder="Calle Ejemplo 655" 
						  patter="[a-zA-Z0-9. ].{2,}" value="{% if modo == 'modificar' %}{{contacto.getDomicilio}}{% endif %}" required/>
						</div>
					</div>
				</div>
			 </div>
			 <div class="row">
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Correo: </label>
						<div class="col-lg-6 "> 
						  <input type="email" class="form-control" name="correo" placeholder="ejemplo@ejemplo.com" 
						  value="{% if modo == 'modificar' %}{{contacto.getCorreo}}{% endif %}" >
						</div>
					</div>
				</div>
				{% if modo == 'altaconid' %}
				 	<div class=" col-lg-6">
					    <div class="form-group">
							<label class="col-lg-2 control-label">Relacion: </label>
							<div class="col-lg-6 "> 
								<input type="text" class="form-control" name="relacion" placeholder="Empleado" 
							  patter="[a-zA-Z].{2,}" />
							</div>
						</div>
					</div>
				{% endif %}
			 </div>
			 <div class="row">	
			 	<div class=" col-lg-6">
			 		<div class="form-group">
					 	<label class="col-lg-2 control-label">Documento:*</label>
					 	<div class=" col-lg-2">
							<select class="form-control" name="tipodocumento"  >
		      				  <option value="DU" {% if modo == 'modificar' %}{% if contacto.getTipodocumento == 'CU' %}selected{% endif %}{% endif %}>DU</option>
							  <option value="LE" {% if modo == 'modificar' %}{% if contacto.getTipodocumento == 'LE' %}selected{% endif %}{% endif %}>LE</option>
							  <option value="LC" {% if modo == 'modificar' %}{% if contacto.getTipodocumento == 'LC' %}selected{% endif %}{% endif %}>LC</option>
						    </select>
						 </div>
						 <div class=" col-lg-4">
							 <input type="text" class="form-control" name="documento" placeholder="35.252.252" 
							 value="{% if modo == 'modificar' %}{{contacto.getDocumento}}{% endif %}" required/>
						 </div>
					</div>
				</div>
				
			    
			 </div>
			 <div class="row">
			 	<div class=" col-lg-6">
					<input class="col-lg-2" type="checkbox" id="asociadosm" name="sm"
					{% if modo == 'modificar' %}{% if contacto.getAsociadosm == 1 %}checked{% endif %}{%endif %}> 
					<label class="col-lg-8" >¿Asociado a SM? </label>
			    </div>
			    {% if modo == 'modificar' %}
					<div class=" col-lg-6">
						<input class="col-lg-2" type="checkbox" name="activo"
						{% if modo == 'modificar' %}{% if contacto.getActivo == 1 %}checked{% endif %}{%endif %}> 
						<label class="col-lg-8">¿Activo? </label>
					</div>
				{% endif %}
			 </div>
			 <div class="row fila-de-boton">
			 	<div class=" col-lg-4"></div>
			 	<div class=" col-lg-2">
					<a href="privado.php?c=contacto&a=listar&pagina=1">
						<button type="button" class="btn btn-default btn-lg btn-block col-lg-4" name="nuevoTelefono">
							Volver al listado
						</button>
					</a>
				</div>
			 	<div class=" col-lg-2">
					<button type="submit" class="btn btn-default btn-lg btn-block col-lg-4" name="guardarContacto">Guardar</button>
				</div>
				
				<div class=" col-lg-4"></div>
			</div>

		</div>
	</form>
{% endblock %}