{% extends "basePrivada.html.twig" %}
 
{% block title %} Lista de Contactos {% endblock %}
{% block contenedor %}
   
 <div class="container" style="padding-top: 1em;">
  <table class="table table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
  </table>
</div>
         
{% endblock %}