{% extends "basePrivada.html.twig" %}
 
{% block title %} Lista de Contactos {% endblock %}
{% block contenedor %}
<script>
$(document).ready(function() {
  /* Filtros */
     $("#dato").css("display", "none");
     $("#EnviarFiltro").css("display", "none");
     $("#asociados").css("display", "none");  
     $('#datoAsociado').on('change',function(){
        var valor = $(this).val();
        document.getElementById('datoTexto').value=valor;
   });
});


  function getval(sel) {
       switch (sel.value) {
         case "Todos":
            location.reload();
            break;

         case "Nombre y/o Apellido":
          $("#dato").css("display", "inline-block");
          $("#datoTexto").attr("placeholder", "Ej.: Jorge Pérez");
          $("#EnviarFiltro").css("display", "inline-block");
          $("#asociados").css("display", "none");
          document.getElementById('tipoFiltro').value = 'nomyap';
            break;

         case "Telefono":
          $("#dato").css("display", "inline-block");
          $("#datoTexto").attr("placeholder", "Ej.: 2983401234");
          $("#EnviarFiltro").css("display", "inline-block");
          $("#asociados").css("display", "none");
          document.getElementById('tipoFiltro').value = 'telefono';
            break;

         case "Documento":
          $("#dato").css("display", "inline-block");
          $("#datoTexto").attr("placeholder", "Ej.: 35252252");
          $("#EnviarFiltro").css("display", "inline-block");
          $("#asociados").css("display", "none");
          document.getElementById('tipoFiltro').value = 'documento';
            break;

         case "Correo":
          $("#dato").css("display", "inline-block");
          $("#datoTexto").attr("placeholder", "ejemplo@ejemplo.com");
          $("#EnviarFiltro").css("display", "inline-block");
          $("#asociados").css("display", "none");
          document.getElementById('tipoFiltro').value = 'correo';
            break;

         case "Asociados a SM":
          $("#dato").css("display", "none");
          $("#asociados").css("display", "inline-block");
          $("#EnviarFiltro").css("display", "inline-block");
          document.getElementById('tipoFiltro').value = 'asociadossm';
            break;
        }
    }

</script>

  <h3 id="tituloBloque">Listado de Contactos</h3>
  <div class="clearfix"></div>
  <h5 id="referenciasRol"><span class="glyphicon glyphicon-tag" style="font-size:10px" aria-hidden="true"></span>Referencias <small>[ SM = Swiss Medical ]</small></h5>
  <div class="row fila-de-alerta">
      <div class=" col-lg-2"></div>
         <div class=" col-lg-8">
          {% if aviso == 1 %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Perfecto!</strong> El contacto fue eliminado correctamente.
              </div>
            {% elseif  aviso == 2 %}
              <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Error!</strong> No se pudo eliminar el contacto
              </div>
            {% endif %}
         </div>
      </div>

 <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
    {% if cantidadPaginas  > 0 %}
      <div class="bs-example" data-example-id="disabled-active-pagination">
        <nav>
          <ul class="pagination">
            <li class="">
              <a href="privado.php?c=contacto&a=listar&pagina={{ant}}" aria-label="Previous">
              <span aria-hidden="true">«</span></a>
            </li> 
            
            <li><a href="privado.php?c=contacto&a=listar&pagina=1">Primera</a></li>
              
              {% for item in actual..cantMostrar %}
                 {% if  item == pag %}
                   <li class="active"><a href="privado.php?c=contacto&a=listar&pagina={{item}}">{{item}}</a></li>
                {% else %} 
                  <li><a href="privado.php?c=contacto&a=listar&pagina={{item}}">{{item}}</a></li>
                 {% endif %}  
              {% endfor %}
            <li><a href="privado.php?c=contacto&a=listar&pagina={{cantidadPaginas}}">Ultima</a></li>
            <li>
              <a href="privado.php?c=contacto&a=listar&pagina={{sig}}" aria-label="Next">
              <span aria-hidden="true">»</span></a>
            </li>
         </ul>
       </nav>
      </div>
    {% endif %}
    <input type="hidden" value="{{paginaBaja}}" name="paginaBaja">
    </div>
  </div>

  {% if filtroActivo == 0 %}
      <form method="POST" action="privado.php?c=contacto&a=listar" id="form_herramientas_contacto">
      <div id="herramientasTop" class="inline-block">
          <div class="accionActivoparent inline-block">

                <!--
                  <input type="hidden" name="datoActivo" id="datoActivo" value="{{statusActivo}}">
                -->
                <input type="hidden" name="tipoFiltro" id="tipoFiltro">

                <!--
                  <a href="#" onclick="cambiarActivo();document.getElementById('form_herramientas_usuario').submit();" class="left inline-block">
                  <span id="accionActivo" class="label label-default">Activos e Inactivos</span>
                </a>
                -->
          </div>
          <div id="filtroPor" class="inline-block">
              <span> 
                <b>Filtrar por:</b>
              </span>
              <form  method="POST" id="formFiltros" class="inline-block">
              <select class="form-control" onchange="getval(this);">
                <option selected>Todos</option>
                <option>Nombre y/o Apellido</option>
                <option>Documento</option>
                <option>Telefono</option>
                <option>Correo</option>
                <option>Asociados a SM</option>
              </select>
              </form>
          </div>
          <div id="dato">
                            <input id="datoTexto" class="form-control" pattern="[a-zA-Z0-9ñÑá-úÁ-Úä-üÄ-Ü ]+" type="text" name="dato">
          </div>
          <div id="asociados" class="none">
                  <select name="datoTexto" id="datoAsociado" class="form-control">
                    <option value="0" selected></option>
                    <option value="1">Si</option>
                    <option value="2">No</option>
                  </select>
          </div>

              <button id="EnviarFiltro" class="btn btn-default" onclick="document.getElementById('form_herramientas_contacto').submit();">Enviar</button>
        </div>
        </form>
        {% else %}
          {% if datoFiltro | length <= 10 %}
               <div class="alert alert-info col-lg-4 filtrandoresultados" role="alert">
          {% elseif datoFiltro | length > 10 and datoFiltro | length <=20 %}
               <div class="alert alert-info col-lg-5 filtrandoresultados" role="alert">
          {% elseif datoFiltro | length >20 %}
               <div class="alert alert-info col-lg-6 filtrandoresultados" role="alert">
          {% endif %}
          {% if tipoFiltro == 'nomyap' %}
              {% set tipoFiltro = 'Nombre/Apellido' %}
          {% elseif tipoFiltro == 'asociadossm' %}
              {% set tipoFiltro = '' %}
          {% endif %}

            <span>Filtrando resultados para {{tipoFiltro}} 
              {% if datoFiltro == 1 %}
                <b> Asociado a SM: SI</b>
              {% elseif datoFiltro == 2 %}
                <b> Asociado a SM: NO</b>
              {% else %}
                <b>{{datoFiltro}}</b>
              {% endif %}
            </span>
          </div>            
          <div class="col-lg-2">
            <a href="privado.php?c=contacto&a=listar" style="text-decoration:none" class="btn btn-default btn-block inline-block" target="_self">
              Quitar filtro
          </a>
        </div>
        {% endif %}
          <div id="botonesTop" class="block right">
            <form id="enviarPDF" class="inline-block" action="privado.php?c=contacto&a=pdf" method="POST">
                <input type="hidden" id="datosPDF" name="datosPDF" value="{{ contactos|json_encode() }}"/>
            {% if contactos is null %}
            {% else %}
                <a href="#" onclick="document.getElementById('enviarPDF').submit();" style="text-decoration:none" class="btn btn-default btn-block inline-block">
                    Ver en PDF
                </a>
            {% endif %}
          </form>
          <a href="privado.php?c=contacto&a=alta" style="text-decoration:none" class="btn btn-default btn-block inline-block" target="_self">
            Nuevo contacto
          </a>
        </div>

  <table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Documento</th>
      <th>Telefono</th>
      <th>Correo</th>
      <th>Asociado a SM</th>
      <th>Activo</th>
      <th>Controles</th>
    </tr>
  </thead>
  <tbody>
    {% for item in contactos %}
        <tr>
          <td>
            {% autoescape 'html' %}
              {{ item.nombre|convert_encoding(from='iso-2022-jp', to='UTF-8') }}    
            {% endautoescape %}
          </td>
          <td>
            {% autoescape 'html' %}
              {{item.apellido|convert_encoding(from='iso-2022-jp', to='UTF-8') }}    
            {% endautoescape %}
          </td>
          <td>
            {% autoescape 'html' %}
              {{item.tipodocumento}} {{item.documento|convert_encoding(from='iso-2022-jp', to='UTF-8') }}    
            {% endautoescape %}
          </td>
          <td>
            {% autoescape 'html' %}
              {{ item.telefono|convert_encoding(from='iso-2022-jp', to='UTF-8') }}    
            {% endautoescape %}
          </td>
          <td>
            {% autoescape 'html' %}
              {{ item.correo|convert_encoding(from='iso-2022-jp', to='UTF-8') }}    
            {% endautoescape %}
          </td>
          <td class="celda-numero">
           
              {% if item.asociadosm == 1 %}
                 Si   
              {% else %}
                 No
              {% endif %}
          
          </td>
          <td class="celda-numero">
            
              {% if item.activo == 1 %}
                Si   
              {% else %}
                No
              {% endif %}
            
          </td>
          <td class="controles">
            <!--Modificar contacto-->
            <form method="post" action="privado.php?c=contacto&a=modificar" id="modificarContacto{{item.idcontacto}}">
              <input type="hidden" value="{{item.idcontacto}}" name="idcontacto">
              <a href="javascript:{}" onclick="document.getElementById('modificarContacto{{item.idcontacto}}').submit(); return false;">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </a>
            </form>
             <!--Eliminar contacto-->
             {% if actual == 1 %}
              {% set paginaBaja = 1 %}
            {% endif %}
            <form method="post" action="privado.php?c=contacto&a=baja&pagina={{paginaBaja}}" id="bajaContacto{{item.idcontacto}}">
              <input type="hidden" value="{{item.idcontacto}}" name="idcontacto">
              <a href="javascript:{}" onclick="if(confirm('¿Está seguro que desea eliminar el contacto?')){document.getElementById('bajaContacto{{item.idcontacto}}').submit();}">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </a>
            </form> 
          </td>
        </tr>
    {% endfor %}
  </tbody>
  </table>
   <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
    {% if cantidadPaginas  > 0 %}
      <div class="bs-example" data-example-id="disabled-active-pagination">
        <nav>
          <ul class="pagination">
            <li class="">
              <a href="privado.php?c=contacto&a=listar&pagina={{ant}}" aria-label="Previous">
              <span aria-hidden="true">«</span></a>
            </li> 
            
            <li><a href="privado.php?c=contacto&a=listar&pagina=1">Primera</a></li>
              
              {% for item in actual..cantMostrar %}
                  {% if  item == pag %}
                   <li class="active"><a href="privado.php?c=contacto&a=listar&pagina={{item}}">{{item}}</a></li>
                {% else %} 
                  <li><a href="privado.php?c=contacto&a=listar&pagina={{item}}">{{item}}</a></li>
                 {% endif %} 
              {% endfor %}
            <li><a href="privado.php?c=contacto&a=listar&pagina={{cantidadPaginas}}">Ultima</a></li>
            <li>
              <a href="privado.php?c=contacto&a=listar&pagina={{sig}}" aria-label="Next">
              <span aria-hidden="true">»</span></a>
            </li>
         </ul>
       </nav>
      </div>
    {% endif %}
    <input type="hidden" value="{{paginaBaja}}" name="paginaBaja">
    </div>
  </div>


{% endblock %}