{% extends "basePrivada.html.twig" %}
 
{% block title %}Formulario Abonado CE {% endblock %}

{% block contenedor %}
	{% if modo == 'altaNormal' %}
		<form class="form-horizontal" action="privado.php?c=abonado&a=altaNormal" role="form" method="POST">
	{% else %}
		<form class="form-horizontal" action="privado.php?c=abonado&a=alta&id={{idempresa}}" role="form" method="POST">
	{% endif %}	
		<input type="hidden" name="numabonado" value="{{numabonado}}">
		<input type="hidden" value="{{idempresa}}" name="idempresa">

		<div class="contenedor-formulario">
		<div class="row fila-de-alerta">
			<div class=" col-lg-2"></div>
				<div class=" col-lg-8">
				 {% if aviso == 1 %}
					<div class="alert alert-success alert-dismissable">
		   	 			<button type="button" class="close" data-dismiss="alert">×</button>
		    			<strong>Perfecto!</strong> El abonado fue guardado correctamente.
	  				</div>
  				{% elseif  aviso == 2 %}
  					<div class="alert alert-danger alert-dismissable">
		   	 			<button type="button" class="close" data-dismiss="alert">×</button>
		    			<strong>No se guardo el abonado!</strong> No re cagues ni utilicez f5 en el formulario. Causa: El abonado ya se encuentra registrado.
	  				</div>
	  			{% elseif  aviso == 3 %}
  					<div class="alert alert-danger alert-dismissable">
		   	 			<button type="button" class="close" data-dismiss="alert">×</button>
		    			<strong>No se guardo el abonado!</strong> No pudimos encontrar el abonado que intentas modificar
	  				</div>
	  			{% endif %}
				</div>
		</div>
		
		<div class="row fila-de-titulo">
			<div class=" col-lg-4"></div>
			<div class=" col-lg-4">
				<h3> Formulario Abonado</h3>
			</div>
		</div>
		<div class="row aviso-completar">
			<div class=" col-lg-3"></div>
			<div class=" col-lg-6 col-md-6 col-sm-6 recuadro-aviso">
				<div class="alert alert-warning">
	   	 			<strong> Los campos marcados con * deben ser completados obligatoriamente </strong>
	  			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6"> 
			 	<div class="form-group">
					<label class="col-lg-2 control-label">Importe: $*</label>
					<div class="col-lg-6 "> 
						<input type="text" class="form-control" name="importe" placeholder="35.6"required/>
					</div>
				</div>
			</div>
			<div class="col-lg-6"> 
			 	<div class="form-group">
					<label class="col-lg-3 control-label">Fecha de ultimo pago:*</label>
					<div class="col-lg-6 "> 
						<input type="date" class="form-control" name="fechadeultimopago" required/>
					</div>
				</div>
			</div>
		</div>
		<div class="row fila-de-boton">
			<div class=" col-lg-4"></div>
			<div class=" col-lg-2">
				<a href="privado.php?c=abonado&a=listar&pagina=1">
					<button type="button" class="btn btn-default btn-lg btn-block col-lg-4" >
						Volver al listado
					</button>
				</a>
			</div>
			 <div class=" col-lg-2">
				<button type="submit" class="btn btn-default btn-lg btn-block col-lg-4" name="guardarAbonado">Guardar</button>
			</div>
			<div class=" col-lg-4"></div>
		</div>
	</div>
	</form>
{% endblock %}