{% extends "basePrivada.html.twig" %}
 
{% block title %}Formulario Abonado CE {% endblock %}

{% block contenedor %}
	<form class="form-horizontal" action="privado.php?c=abonado&a=eleccion&id={{idempresa}}" role="form" method="POST">
		<input type="hidden" value="{{idempresa}}" name="idempresa">
		
		<div class="row">
			Para cargar los datos de un nuevo contacto o representante de la empresa asociada, clickea en Nuevo Contacto
		</div>

		<div class="row fila-de-boton" >
			<div class="col-lg-2"></div>
			<div class="col-lg-4">
				<button type="submit" class="btn btn-default btn-lg btn-block col-lg-4" name="nuevoSocio">
					Asociar a un Contacto
				</button>
			</div>
			<div class=" col-lg-4">
				<a href="privado.php?c=empresa&a=listar&pagina=1">
					<button type="button" class="btn btn-default btn-lg btn-block col-lg-4" >
						Al listado de asociados
					</button>
				</a>
			</div>
		</div>
	</form>
{% endblock %}