{% extends "basePrivada.html.twig" %}
 
{% block title %} Lista de Contactos {% endblock %}
{% block contenedor %}


<h3 id="tituloBloque">Listado de Abonados CE</h3>
<div class="clearfix"></div>
<div class="row fila-de-alerta">
  <div class=" col-lg-2"></div>
    <div class=" col-lg-8">
      {% if aviso == 1 %}
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Perfecto!</strong> El abonado fue eliminado correctamente.
        </div>
      {% elseif  aviso == 2 %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Error!</strong> No se pudo eliminar el abonado
          </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
    {% if cantidadPaginas  > 0 %}
      <div class="bs-example" data-example-id="disabled-active-pagination">
        <nav>
          <ul class="pagination">
            <li class="">
              <a href="privado.php?c=abonado&a=listar&pagina={{ant}}" aria-label="Previous">
              <span aria-hidden="true">«</span></a>
            </li> 
            
            <li><a href="privado.php?c=abonado&a=listar&pagina=1">Primera</a></li>
              
              {% for item in actual..cantMostrar %}
                {% if  item == pag %}
                   <li class="active"><a href="privado.php?c=abonado&a=listar&pagina={{item}}">{{item}}</a></li>
                {% else %} 
                  <li><a href="privado.php?c=abonado&a=listar&pagina={{item}}">{{item}}</a></li>
                 {% endif %}  
              {% endfor %}
            <li><a href="privado.php?c=abonado&a=listar&pagina={{cantidadPaginas}}">Ultima</a></li>
            <li>
              <a href="privado.php?c=abonado&a=listar&pagina={{sig}}" aria-label="Next">
              <span aria-hidden="true">»</span></a>
            </li>
         </ul>
       </nav>
      </div>
    {% endif %}
    <input type="hidden" value="{{paginaBaja}}" name="paginaBaja">
    </div>
  </div>

  <table class="table table-hover">
  <thead>
    <tr>
      <th>Numero Abonado</th>
      <th>Empresas</th>
      <th>Importe</th>
      <th>Fecha de ultimo pago</th>
      <th>Activo</th>
      <th>Controles</th>
    </tr>
  </thead>
  <tbody>
    {% for item in abonado %}
      <tr>
        <td>
          {% autoescape 'html' %}
            {{ item.numabonado|convert_encoding(from='iso-2022-jp', to='UTF-8') }}    
          {% endautoescape %}
        </td>
        {% set cargarElimianar = true %}
        <td>
          {% autoescape 'html' %}
            {% for em in relacion  %}
                {% if em.numabonado == item.numabonado %}
                   {% set cargarElimianar = false %}
                    <li>{{em.denominacion|convert_encoding(from='iso-2022-jp', to='UTF-8') }} </li>
                {% endif %}
              {% endfor %}  
          {% endautoescape %}
        </td>
        <td>
          {% autoescape 'html' %}
            {{item.importe}} {{item.documento|convert_encoding(from='iso-2022-jp', to='UTF-8') }}    
          {% endautoescape %}
        </td>
        <td>
          {% autoescape 'html' %}
            {{item.fechadeultimopago}} {{item.documento|convert_encoding(from='iso-2022-jp', to='UTF-8') }}    
          {% endautoescape %}
        </td>
        <td class="celda-numero">
          {% if item.activo == 1 %}
            Si   
          {% else %}
            No
          {% endif %}
        </td>
        <td class="controles">
          <!--Modificar abonado-->
          <form method="post" action="privado.php?c=abonado&a=modificar" id="modificarAbonado{{item.numabonado}}">
            <input type="hidden" value="{{item.numabonado}}" name="numabonado">
            <a href="javascript:{}" onclick="document.getElementById('modificarAbonado{{item.numabonado}}').submit(); return false;">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
          </form>
          {% if cargarElimianar == true %}
              {% if actual == 1 %}
                {% set paginaBaja = 1 %}
              {% endif %}
            <!--Eliminar abonado-->
            <form method="post" action="privado.php?c=abonado&a=baja&pagina={{paginaBaja}}" id="bajaAbonado{{item.numabonado}}">
              <input type="hidden" value="{{item.numabonado}}" name="numabonado">
              <a href="javascript:{}" onclick="if(confirm('¿Está seguro que desea eliminar el contacto?')){document.getElementById('bajaAbonado{{item.numabonado}}').submit();}">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </a>
            </form> 
          {% endif %}
          </td>
        </tr>
    {% endfor %}
  </tbody>
  </table>

  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
    {% if cantidadPaginas  > 0 %}
      <div class="bs-example" data-example-id="disabled-active-pagination">
        <nav>
          <ul class="pagination">
            <li class="">
              <a href="privado.php?c=abonado&a=listar&pagina={{ant}}" aria-label="Previous">
              <span aria-hidden="true">«</span></a>
            </li> 
            
            <li><a href="privado.php?c=abonado&a=listar&pagina=1">Primera</a></li>
              {% for item in actual..cantMostrar %}
                 {% if  item == pag %}
                   <li class="active"><a href="privado.php?c=abonado&a=listar&pagina={{item}}">{{item}}</a></li>
                {% else %} 
                  <li><a href="privado.php?c=abonado&a=listar&pagina={{item}}">{{item}}</a></li>
                 {% endif %}  
              {% endfor %}
            <li><a href="privado.php?c=abonado&a=listar&pagina={{cantidadPaginas}}">Ultima</a></li>
            <li>
              <a href="privado.php?c=abonado&a=listar&pagina={{sig}}" aria-label="Next">
              <span aria-hidden="true">»</span></a>
            </li>
         </ul>
       </nav>
      </div>
    {% endif %}
    <input type="hidden" value="{{paginaBaja}}" name="paginaBaja">
    </div>

{% endblock %}