{% extends "basePrivada.html.twig" %}
 
{% block title %}Formulario Empresa {% endblock %}

{% block contenedor %}


		<form class="form-horizontal" id="nuevaempresa" action="privado.php?c=empresa&a=alta" role="form" method="POST">
		<input type="hidden" name="idempresa" value="{{idempresa}}">
		<div class="contenedor-formulario">
			<div class="row aviso-completar">
				<div class=" col-lg-3"></div>
				<div class=" col-lg-6 col-md-6 col-sm-6 recuadro-aviso">
					<div class="alert alert-warning">
   	 					<strong> Los campos marcados con * deben ser completados obligatoriamente </strong>
  					</div>
				</div>
			</div>
			<div class="row fila-de-alerta">
				<div class=" col-lg-2"></div>
				 <div class=" col-lg-8">
				 	{% if aviso == 1 %}
						<div class="alert alert-success alert-dismissable">
		   	 				<button type="button" class="close" data-dismiss="alert">×</button>
		    				<strong>Perfecto!</strong> La empresa fue guardada con exito.
	  					</div>
  					{% elseif  aviso == 2 %}
  						<div class="alert alert-danger alert-dismissable">
		   	 				<button type="button" class="close" data-dismiss="alert">×</button>
		    				<strong>No se guardo la empresa!</strong> No re cagues ni utilicez f5 en el formulario. Causa: La empresa ya se encuentra registrada.
	  					</div>
	  				{% endif %}
				 </div>
			</div>
			<div class="row fila-de-titulo">
				<div class=" col-lg-4"></div>
				 <div class=" col-lg-4">
					<h3> Formulario Empresa</h3>
				 </div>
			</div>
		
			</div>
			<div class="row">
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-3 control-label">Denominacion:* </label>
						<div class="col-lg-5 "> 
							<input type="text" class="form-control" name="denominacion" placeholder="Denominacion" required/>
						</div>
					</div>
				</div>
				<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-7 control-label">Cant. Empleados:</label>
						<div class="col-lg-2 "> 
						  <input type="number" class="form-control" name="cantempleados" min='0' value="0" />
						</div>
					</div>
				</div>
			 </div>
			 <input type="hidden" value="0" id="max">
			 <div class="row">
				<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-6 control-label">Impor. Mensual:* </label>
						<div class="col-lg-2 "> 
						  <input type="text" class="form-control" name="importemensual" placeholder="40.56" required/>
						</div>
					</div>
				</div>
				<div class=" col-lg-6">
				    <div class="form-group">
						<label class="col-lg-3 control-label">WEB:</label>
						<div class="col-lg-6 "> 
							<input type="text" class="form-control" name="web" placeholder="www.ejemplo.com.ar" />
						</div>
					</div>
				</div>
			 </div>
			 <div class="row">
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">CUIT:* </label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="cuit" placeholder="00-00000000-0" required/>
						</div>
					</div>
				</div>
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-4 control-label">Num. Usuario CELTA: </label>
						<div class="col-lg-5 "> 
						  <input type="text" class="form-control" name="numusuario" placeholder="00000000000" />
						</div>
					</div>
				</div>
			 </div>
			 <div class="row">	 
			 	<div class=" col-lg-12">
			 		<div class="form-group">
					 	<label class="col-lg-4 control-label">Fecha Inicio como socio: *</label>
					 	<div class="col-lg-3">
							<input type="date" class="form-control" name="fechainicioce" value="{{fecha}}" required/>
						</div>
					</div>
				</div> 
			 </div>
			 <div class="row">	
			 	<div class=" col-lg-12">
			 		<div class="form-group">
					 	<label class="col-lg-4 control-label">Fecha Fundacion empresa: </label>
					 	<div class="col-lg-3">
							<input type="date" class="form-control" name="fechafundacion" />
					 	
						</div>
					</div>
				</div> 
			 </div>
			 <div id="insertarCategoria">
				<div class="col-lg-12"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Categoria: </label>
						<div class="col-lg-4 "> 
							<select class="form-control" name="categoria" id="categoria" required/>
								{% for item in categorias %}
									<option value="{{item.id}}">{{item.descripcion}}</option>
								{% endfor %}	
							</select>
						</div>
						<button type="button" class="btn btn-default col-lg-2" onclick="cargarCategoria('insertarCategoria','Descripcion');">
							<span class="glyphicon glyphicon-plus-sign"></span>
						</button>
					</div>
				</div>
			</div>
			 <div id="insertarRubro">
				 <div class="col-lg-12"> 
				 	<div class="form-group">
						<label class="col-lg-2 control-label">Rubro: </label>
						<div class="col-lg-4 "> 
							<select class="form-control" name="rubro" id="rubro" >
								{% for item in rubros %}
									<option value="{{item.id}}">{{item.descripcion}}</option>
								{% endfor %}	
							</select>
						</div>
						<button type="button" class="btn btn-default col-lg-2" onclick="cargarRubro('insertarRubro','Descripcion');">
							<span class="glyphicon glyphicon-plus-sign"></span>
						</button>	
					</div>
				</div>
			</div>
			 <div class="row">	
			 	<div class=" col-lg-12">
			 		<div class="form-group">
			 			<label class="col-lg-4 control-label">Detalle Actividad: </label>
					 	<div class="col-lg-3">
					 		<textarea id="detactividad" name="detactividad"onkeypress="return limita(event, 499);"rows="5"cols="97"></textarea>
						</div>
					</div>
				</div> 
			 </div>
			<div id="insertarTelefono">
				<div class="row">
					<div class="col-lg-6" > 
					 	<div class="form-group"  >
							<label class="col-lg-2 control-label">Telefono:* </label>
							<div class="col-lg-4 "> 
								<input type="text" class="form-control" name="telefono0" required/>
							</div>
							<button type="button" class="btn btn-default col-lg-2" onclick="agregarInput('insertarTelefono','Telefono:','telefono','caractel');">
								<span class="glyphicon glyphicon-plus-sign"></span>
							</button>
						</div>
					</div>
					<div class="col-lg-6" > 
					 	<div class="form-group"  >
							<label class="col-lg-3 control-label">Nuevo telefono: </label>
							<div class="col-lg-6 "> 
								<input type="text" class="form-control" name="caractel0/" />
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div id="insertarDomicilio">
				<div class="row">
					 <div class="col-lg-6"> 
					 	<div class="form-group">
							<label class="col-lg-2 control-label">Domicilio:* </label>
							<div class="col-lg-4 "> 
								<input type="text" class="form-control" name="domicilio0" required/>
							</div>
							<button type="button" class="btn btn-default col-lg-2" onclick="agregarInput('insertarDomicilio','Domicilio:','domicilio','caracdom');">
								<span class="glyphicon glyphicon-plus-sign"></span>
							</button>						
						</div>
					</div>
					 <div class="col-lg-6"> 
					 	<div class="form-group">
							<label class="col-lg-3 control-label">Nuevo domicilio: </label>
							<div class="col-lg-6"> 
								<input type="text" class="form-control" name="caracdom0/" />
							</div>
												
						</div>
					</div>
				</div>
			</div>
			<div id="insertarCorreo">
				<div class="row">
				 	<div class="col-lg-6"> 
				 		<div class="form-group">
							<label class="col-lg-2 control-label">Correo: </label>
							<div class="col-lg-4 "> 
								<input type="text" class="form-control" name="correo0" />
							</div>
							<button type="button" class="btn btn-default col-lg-2" onclick="agregarInput('insertarCorreo','Correo:','correo','caraccorreo');">
								<span class="glyphicon glyphicon-plus-sign"></span>
							</button>	
						</div>
					</div>
					<div class="col-lg-6"> 
				 		<div class="form-group">
							<label class="col-lg-3 control-label">Nuevo correo: </label>
							<div class="col-lg-6"> 
								<input type="text" class="form-control" name="caraccorreo0/" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row fila-de-titulo">
				<div class=" col-lg-4"></div>
				 <div class=" col-lg-4">
					<h3> Contactos Asociados </h3>
				 </div>
			</div>
			<div id="insertarContacto">
					<div class="row">
					 	<div class="col-lg-6">
					 		<div class="form-group">
								<label class="col-lg-2 control-label">Contacto: </label> 
								<div class="col-lg-4 "> 
									<select  class="form-control" name="contacto0" id="contacto0">
										<option value="-1">Contacto</option>
										{% for item in contactos %}
											<option value="{{item.idcontacto}}">{{item.nombre}}</option>
										{% endfor %}	
									</select>
								</div>
								<button type="button" class="btn btn-default col-lg-2" onclick="mostrarDiv('sumar');">
									<span class="glyphicon glyphicon-plus-sign"></span>
								</button>	
							</div>
						</div>
						<div class="col-lg-6"> 
					 		<div class="form-group">
								<label class="col-lg-2 control-label">Relacion: </label>
								<div class="col-lg-6"> 
									<input type="text" class="form-control" name="relacion0" />
								</div>
							</div>
						</div>
					</div>
				</div>
			{% for i in 1..20 %}
				<div id="insertarContacto{{i}}" class="displayNone">
					<div class="row">
						 <div class="col-lg-6">
						 	<div class="form-group">
								<label class="col-lg-2 control-label">Contacto: </label> 
									<div class="col-lg-4 "> 
									<select class="form-control"  name="contacto{{i}}" id="contacto{{i}}">
										<option value="-1">Contacto</option>
										{% for item in contactos %}
											<option value="{{item.idcontacto}}">{{item.nombre}}</option>
										{% endfor %}	
									</select>
								</div>
								<button type="button" class="btn btn-default col-lg-2" onclick="mostrarDiv('restar');">
									<span class="glyphicon glyphicon-minus-sign"></span>
								</button>	
							</div>
						</div>
						<div class="col-lg-6"> 
						 	<div class="form-group">
								<label class="col-lg-2 control-label">Relacion: </label>
								<div class="col-lg-6"> 
									<input type="text" class="form-control" name="relacion{{i}}" />
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="row fila-de-titulo">
				<div class=" col-lg-4"></div>
				 <div class=" col-lg-4">
					<h3> Contribuyente Asociado </h3>
				 </div>
			</div>
			<div id="esAbonado">
				<div class="row">
				 	<div class="col-lg-6"> 
				 		<div class="form-group">
							<div class="btn-group btn-group-md" role="group" aria-label="...">
			  						<!--<button type="button" id="botonAbonado" class="btn btn-default" onclick="esAbonado(1)"> Abona en CE </button>-->
			  						<button type="button" id="botonMedidor" class="btn btn-default" onclick="esAbonado(0)"> Abona en CELTA </button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="Medidor">
				<div class="row">
				 	<div class="col-lg-6"> 
				 		<div class="form-group">
							<label class="col-lg-2 control-label">Medidor: </label>
							<div class="col-lg-6 "> 
								<select class="form-control" name="medidor" id="selectMedidor">
									<option value="-1">Medidor</option>
								{% for item in medidores %}
									<option value="{{item.idmedidor}}">{{item.nomyap}}</option>
								{% endfor %}
								</select>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<!--<div class="row">
				<div id="Abonado">
					<div class="row">
						 <div class="col-lg-6"> 
						 		<div class="form-group">
									<label class="col-lg-6 control-label">Crear un nuevo abonado 
										<input type="checkbox" name="abonadoCheck" />
									</label>
							</div>
						</div>
					</div>
				</div>
			</div>-->
			<div class="row fila-de-boton">
			 	<div class=" col-lg-4"></div>
			 	<div class=" col-lg-2">
					<a href="privado.php?c=empresa&a=listar&pagina=1">
						<button type="button" class="btn btn-default btn-lg btn-block col-lg-4" name="nuevoTelefono">
							Volver al listado
						</button>
					</a>
				</div>
			 	<div class=" col-lg-2">
					<button type="submit" class="btn btn-default btn-lg btn-block col-lg-4" name="guardarEmpresa">Guardar</button>
				</div>
			</div>
		</div>
	</form>
{% endblock %}