{% extends "basePrivada.html.twig" %}
 
{% block title %}Formulario Empresa {% endblock %}

{% block contenedor %}
	<form class="form-horizontal" id="nuevaempresa" action="privado.php?c=empresa&a=eleccion&id={{idempresa}}" role="form" method="POST">
		<input type="hidden" value="{{idempresa}}" name="idempresa">

		<div class="row">
			Si el Asociado abona la cuota a trav&eacute;s de su factura de luz de CELTA, debes cargar los datos del medidor haciendo click en en Nuevo Medidor de CELTA. Si la cuota se abona directamente en la C&aacute;mara Econ&oacute;mica debes cargar el importe que pagar&aacute; haciendo click en Nuevo Abonado en CE.
		</div>

		<div class="row fila-de-boton" >
			<div class="col-lg-1"></div>
			<div class="col-lg-3">
				<button type="submit" class="btn btn-default btn-lg btn-block col-lg-4" name="nuevoMedidor">
					Nuevo Medidor de CELTA
				</button>
			</div>
			<div class="col-lg-3">
				<button type="submit" class="btn btn-default btn-lg btn-block col-lg-4" name="nuevoAbonado">
					Nuevo Abonado en CE
				</button>
			</div>
			<div class=" col-lg-3">
				<a href="privado.php?c=empresa&a=listar&pagina=1">
					<button type="button" class="btn btn-default btn-lg btn-block col-lg-4" >
						Volver al listado
					</button>
				</a>
			</div>
		</div>
	</form>
{% endblock %}