{% extends "basePrivada.html.twig" %}
 
{% block title %} Lista de Empresas {% endblock %}
{% block contenedor %}  

<script>

$(document).ready(function() {
  /* Filtros */
     $("#dato").css("display", "none");
     $("#criterio").css("display", "none");
     $("#activo").css("display", "none");
     $("#EnviarFiltro").css("display", "none");

     $('#datoCriterio').on('change',function(){
      var valor = $(this).val();
      if (valor != '0') {$("#EnviarFiltro").css("display", "inline-block");
                         $("#dato").css("display", "inline-block");}
      else {$("#EnviarFiltro").css("display", "none");
            $("#dato").css("display", "none");}
      //document.getElementById('datoTexto').value=valor;
      });
     //evaluarActivo(status);
});

  function getval(sel) {
       switch (sel.value) {
         case "Todos":
            location.reload();
            break;

         case "Denominación":
          $("#dato").css("display", "inline-block");
          $("#datoTexto").attr("placeholder", "Ej.: Empresa");
          $("#criterio").css("display", "none");
          $("#activo").css("display","none");
          $("#EnviarFiltro").css("display", "inline-block");
          document.getElementById('tipoFiltro').value = 'denominacion';
            break;

         case "CUIT":
          $("#dato").css("display", "inline-block");
          $("#datoTexto").attr("placeholder", "Ej.: 20-27000111-6");
          $("#criterio").css("display", "none");
          $("#activo").css("display","none");
          $("#EnviarFiltro").css("display", "inline-block");
          document.getElementById('tipoFiltro').value = 'cuit';
            break;

         case "Rubro":
          $("#dato").css("display", "inline-block");
          $("#datoTexto").attr("placeholder", "Ej.: Rubro");
          $("#criterio").css("display", "none");
          $("#activo").css("display","none");
          $("#EnviarFiltro").css("display", "inline-block");
          document.getElementById('tipoFiltro').value = 'rubro';
            break;


         case "Categoría":
          $("#dato").css("display", "inline-block");
          $("#datoTexto").attr("placeholder", "Ej.: Categoría");
          $("#criterio").css("display", "none");
          $("#activo").css("display","none");
          $("#EnviarFiltro").css("display", "inline-block");
          document.getElementById('tipoFiltro').value = 'categoria';
            break;

          case "Importe":
          $("#dato").css("display", "none");
          $("#criterio").css("display", "inline-block");
          $("#activo").css("display","none");
          $("#datoTexto").attr("placeholder", "Ej.: 87");
          $("#EnviarFiltro").css("display", "none");
          document.getElementById('tipoFiltro').value = 'importe';
            break; 

          case "Cant. Empleados":
          $("#dato").css("display", "inline-block");
          $("#criterio").css("display", "none");
          $("#activo").css("display","none");
          $("#datoTexto").attr("placeholder", "Ej.: 10");
          $("#EnviarFiltro").css("display", "inline-block");
          document.getElementById('tipoFiltro').value = 'cantempleados';
            break;  

          case "Activo":
          $("#dato").css("display", "none");
          $("#criterio").css("display", "none");
          $("#activo").css("display","inline-block");
          $("#datoTexto").attr("placeholder", "Ej.: 10");
          $("#EnviarFiltro").css("display", "inline-block");
          document.getElementById('tipoFiltro').value = 'activo';
            break;  

           
          
        }
    }

</script>

    <h3 id="tituloBloque">Listado de Empresas</h3>
    <div class="clearfix"></div>

   <div class="row fila-de-alerta">
      <div class=" col-lg-2"></div>
         <div class=" col-lg-8">
          {% if aviso == 1 %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Perfecto!</strong> la empresa fue eliminada correctamente.
              </div>
            {% elseif  aviso == 2 %}
              <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Error!</strong> No se pudo eliminar la empresa
              </div>
            {% endif %}
         </div>
  </div>
  <h5 id="referenciasRol">
    <span class="glyphicon glyphicon-tag" style="font-size:10px" aria-hidden="true"></span>
      Referencias
      <small>
        [<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>=Modificar Correos, <span class="glyphicon glyphicon-home" aria-hidden="true"></span>=Modificar domicilios,<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>=Modificar telefonos, <span class="glyphicon glyphicon-user" aria-hidden="true"></span>=Modificar contactos, <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>= Modificar datos generales de empresa, M = Asociar titular de medidor, A = Asociar un abonado]
      </small>
  </h5>

  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
    {% if cantidadPaginas  > 0 %}
      <div class="bs-example" data-example-id="disabled-active-pagination">
        <nav>
          <ul class="pagination">
            <li class="">
              <a href="privado.php?c=empresa&a=listar&pagina={{ant}}" aria-label="Previous">
              <span aria-hidden="true">«</span></a>
            </li>   
            <li><a href="privado.php?c=empresa&a=listar&pagina=1">Primera</a></li>
              {% for item in actual..cantMostrar %}
                {% if  item == pag %}
                  <li class="active"><a href="privado.php?c=empresa&a=listar&pagina={{item}}">{{item}}</a></li>
                {% else %} 
                  <li class=""><a href="privado.php?c=empresa&a=listar&pagina={{item}}">{{item}}</a></li>
                {% endif %}
              {% endfor %}
            <li><a href="privado.php?c=empresa&a=listar&pagina={{cantidadPaginas}}">Ultima</a></li>
            <li>
              <a href="privado.php?c=empresa&a=listar&pagina={{sig}}" aria-label="Next">
              <span aria-hidden="true">»</span></a>
            </li>
         </ul>
       </nav>
      </div>
    {% endif %}
    <input type="hidden" value="{{paginaBaja}}" name="paginaBaja">
    </div>
  </div>
   <div class="clearfix"></div>
  {% if filtroActivo == 0 %}
      <form method="POST" action="privado.php?c=empresa&a=filtro" id="form_herramientas_empresa">
      <div id="herramientasTop" class="inline-block">
          <div class="accionActivoparent inline-block">

                <!--
                  <input type="hidden" name="datoActivo" id="datoActivo" value="{{statusActivo}}">
                -->
                <input type="hidden" name="tipoFiltro" id="tipoFiltro">

                <!--
                  <a href="#" onclick="cambiarActivo();document.getElementById('form_herramientas_usuario').submit();" class="left inline-block">
                  <span id="accionActivo" class="label label-default">Activos e Inactivos</span>
                </a>
                -->
          </div>
          <div id="filtroPor" class="inline-block">
              <span> 
                <b>Filtrar por:</b>
              </span>
                  <select class="form-control" onchange="getval(this);">
                    <option selected>Todos</option>
                    <option>Denominación</option>
                    <option>CUIT</option>
                    <option>Rubro</option>
                    <option>Categoría</option>
                    <option>Importe</option>
                    <option>Cant. Empleados</option>
                    <option>Activo</option>
                  </select>
          </div>

              <div id="criterio" class="none">
                  <select name="datoCriterio" id="datoCriterio" class="form-control">
                      <option value="0" selected>Seleccione</option>
                      <option value="1">Mayor a</option>
                      <option value="2">Igual a</option>
                      <option value="3">Menor a</option>
                  </select>

              </div>

              <div id="activo" class="none">
                  <select name="datoActivo" id="datoActivo" class="form-control">
                      <option value="0" selected>Seleccione</option>
                      <option value="1">Sólo Activos</option>
                      <option value="2">Sólo Inactivos</option>
                  </select>

              </div>

              <div id="dato">
                            <input id="datoTexto" class="form-control" pattern="[a-zA-Z0-9ñÑá-úÁ-Úä-üÄ-Ü ]+" type="text" name="dato">
              </div>
              <button id="EnviarFiltro" class="btn btn-default" onclick="document.getElementById('form_herramientas_empresa').submit();">Enviar</button>
        </div>
        </form>
    {% else %}
          <div class="alert alert-info col-lg-4 filtrandoresultados" role="alert">
           {% if tipoFiltro == 'activo' %}
              {% if datoFiltro == '1' %}
                  {% set datoFiltro='Sólo activos'%}
              {% else %}
                  {% set datoFiltro='Sólo inactivos'%}
              {% endif %}
           {% endif %}
            <span>Filtrando resultados para {{tipoFiltro}} <b>{{datoFiltro}}</b></span>
          </div>            
          <div class="col-lg-2">
            <a href="privado.php?c=empresa&a=listar&pagina=1" style="text-decoration:none" class="btn btn-default btn-block inline-block" target="_self">
              Quitar filtro
          </a>
        </div>
    {% endif %}
    <form id="enviarPDF" class="inline-block" action="privado.php?c=empresa&a=pdf" method="POST">
            <input type="hidden" id="datosPDF" name="datosPDF" value="{{ empresas|json_encode() }}"/>
    </form>   
  <form class="form-horizontal" action="privado.php?c=correo&a=mostrar" role="form" method="POST" id="formBotonesTop">
          <div id="botonesTop" class="block right">
              <button type="submit" class="btn btn-default btn-block" id="bottonEnviarCorreo" name="irMail">Crear Correo</button>
              {% if empresas is null %}
                {% else %}
                   <a href="privado.php?c=empresa&a=listar&pagina=1" target="_blank" onclick="document.getElementById('enviarPDF').submit();" style="text-decoration:none" class="btn btn-default btn-block inline-block">
                       Ver en PDF
                   </a>
                {% endif %}        
          <a href="privado.php?c=empresa&a=alta" style="text-decoration:none" class="btn btn-default btn-block inline-block" target="_self">
            Nueva empresa
          </a>
        </div>


  <table class="table table-hover">
  <thead>
    <tr>
      <th>Denominacion</th>
      <th>CUIT</th>
      <th>Rubro</th>
      <th>Categoria</th>
      <th>Importe Mensual</th>
      <th>Cant. Empleados</th>
      <th>Activo</th>
      <th>Controles</th>
    </tr>
  </thead>
  <tbody>
    {% for item in empresas %}
     <input type="hidden" name="arrayIdempresa[]" value="{{item.idempresa}}" >
        <tr>
  </form>
          <td>
            {% autoescape 'html' %}
              {{ item.denominacion|convert_encoding(from='iso-2022-jp', to='UTF-8') }}    
            {% endautoescape %}
          </td>
          <td>
            {% autoescape 'html' %}
              {{ item.cuit|convert_encoding(from='iso-2022-jp', to='UTF-8') }}    
            {% endautoescape %}
          </td>
          <td>
            {% autoescape 'html' %}
              {% for r in rubros %}
                {% if r.id == item.idrubro %}
                  {{r.descripcion|convert_encoding(from='iso-2022-jp', to='UTF-8') }}  
                {% endif %}
              {% endfor %}
            {% endautoescape %}
          </td>
          <td>
            {% autoescape 'html' %}
              {% for c in categorias %}
                {% if c.id == item.idcategoria %}
                  {{c.descripcion|convert_encoding(from='iso-2022-jp', to='UTF-8') }}  
                {% endif %}
              {% endfor %}
            {% endautoescape %}
          </td>
          <td>
            {% autoescape 'html' %}
              ${{ item.importemensual|convert_encoding(from='iso-2022-jp', to='UTF-8') }}    
            {% endautoescape %}
          </td>
          <td>
            {% autoescape 'html' %}
              {{ item.cantempleados|convert_encoding(from='iso-2022-jp', to='UTF-8') }}    
            {% endautoescape %}
          </td>
          <td> 
          {% if item.activo == 1 %}
            <span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span>
          {% else %}
            <span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
          {% endif %}
        </td>
     <!--   <td>
          {% set tienContribuyente = 2 %}
          {% for i in arrayVista %}
            {% if i['idempresa'] == item.idempresa %}
        
                {% for mNom in medidores %}
                  {% if mNom.idmedidor == i['medidor'].idmedidor %}
                   
                      <li> {{ mNom.nomyap|convert_encoding(from='iso-2022-jp', to='UTF-8') }}</li>
                       {% set tienContribuyente = 1 %}
                  {% endif %}
                {% endfor %}
                      
               {% endif %}  
            {% endfor %} 
         
              
           </td>
           <td>
            {% for i in arrayVista %}
              {% if i['idempresa'] == item.idempresa %}
                <li> 
                  {% for mAbon in abonados %}
                    {% if mAbon.numabonado == i['abonado'].numabonado %}
                     {{ mAbon.numabonado|convert_encoding(from='iso-2022-jp', to='UTF-8') }}
                      {% set tienContribuyente = 1 %}
                    {% endif %}
                  {% endfor %}
                </li>
              {% endif %}  
           {% endfor %} 
          </td>-->
          <td class="controles">
            {% if tienContribuyente == 2 %}
              <!-- nuevo abonado -->
              <form method="post" action="privado.php?c=abonado&a=alta&id={{item.idempresa}}" id="altaAbonado{{item.idempresa}}">
                  <input type="hidden" value="{{item.idempresa}}" name="cargarAbonado">
                  <a href="javascript:{}" onclick="document.getElementById('altaAbonado{{item.idempresa}}').submit(); return false;">
                    <span aria-hidden="true">A</span>
                  </a>
              </form>
              <!-- nuevo medidor -->
              <form method="post" action="privado.php?c=medidor&a=alta&id={{item.idempresa}}" id="altaMedidor{{item.idempresa}}">
                  <input type="hidden" value="{{item.idempresa}}" name="idempresa">
                  <a href="javascript:{}" onclick="document.getElementById('altaMedidor{{item.idempresa}}').submit(); return false;">
                    <span aria-hidden="true">M</span>
                  </a>
              </form>
            {% endif %}
            <!-- Ver empresa -->
            <form method="post" action="privado.php?c=empresa&a=detalle" id="verEmpresa{{item.idempresa}}">
                <input type="hidden" value="{{item.idempresa}}" name="id">
                <a href="javascript:{}" onclick="document.getElementById('verEmpresa{{item.idempresa}}').submit(); return false;">
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
            </form>
             <!--Modificar correos-->
            <form method="post" action="privado.php?c=empresa&a=modificarCorreos" id="modificarCorreosEmpresa{{item.idempresa}}">
              <input type="hidden" value="{{item.idempresa}}" name="idempresa">
              <a href="javascript:{}" onclick="document.getElementById('modificarCorreosEmpresa{{item.idempresa}}').submit(); return false;">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              </a>
            </form>
            <!--Modificar domicilios-->
            <form method="post" action="privado.php?c=empresa&a=modificarDomicilios" id="modificarDomicilioEmpresa{{item.idempresa}}">
              <input type="hidden" value="{{item.idempresa}}" name="idempresa">
              <a href="javascript:{}" onclick="document.getElementById('modificarDomicilioEmpresa{{item.idempresa}}').submit(); return false;">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
              </a>
            </form>
            <!--Modificar telefonos-->
            <form method="post" action="privado.php?c=empresa&a=modificarTelefonos" id="modificarTelefonoEmpresa{{item.idempresa}}">
              <input type="hidden" value="{{item.idempresa}}" name="idempresa">
              <a href="javascript:{}" onclick="document.getElementById('modificarTelefonoEmpresa{{item.idempresa}}').submit(); return false;">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
              </a>
            </form>
            <!--Modificar contactos-->
            <form method="post" action="privado.php?c=empresa&a=modificarContactos" id="modificarContactoEmpresa{{item.idempresa}}">
              <input type="hidden" value="{{item.idempresa}}" name="idempresa">
              <a href="javascript:{}" onclick="document.getElementById('modificarContactoEmpresa{{item.idempresa}}').submit(); return false;">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              </a>
            </form>
            <!--Modificar empresa-->
            <form method="post" action="privado.php?c=empresa&a=modificar" id="modificarEmpresa{{item.idempresa}}">
              <input type="hidden" value="{{item.idempresa}}" name="idempresa">
              <a href="javascript:{}" onclick="document.getElementById('modificarEmpresa{{item.idempresa}}').submit(); return false;">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </a>
            </form>
             <!--Eliminar empresa-->
            {% if actual == 1 %}
              {% set paginaBaja = 1 %}
            {% endif %}

            <form method="post" action="privado.php?c=empresa&a=baja&pagina={{paginaBaja}}" id="bajaEmpresa{{item.idempresa}}">
              <input type="hidden" value="{{item.idempresa}}" name="idempresa">
              <a href="javascript:{}" onclick="if(confirm('¿Está seguro que desea eliminar la empresa?')){document.getElementById('bajaEmpresa{{item.idempresa}}').submit();}">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </a>
            </form> 
          </td>
        </tr>
    {% endfor %}
  </tbody>
  </table>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
    {% if cantidadPaginas  > 0 %}
      <div class="bs-example" data-example-id="disabled-active-pagination">
        <nav>
          <ul class="pagination">
            <li class="">
              <a href="privado.php?c=empresa&a=listar&pagina={{ant}}" aria-label="Previous">
              <span aria-hidden="true">«</span></a>
            </li> 
            <li><a href="privado.php?c=empresa&a=listar&pagina=1">Primera</a></li>
              {% for item in actual..cantMostrar %}
                 {% if  item == pag %}
                <li class="active"><a href="privado.php?c=empresa&a=listar&pagina={{item}}">{{item}}</a></li>
                 {% else %} 
                  <li><a href="privado.php?c=empresa&a=listar&pagina={{item}}">{{item}}</a></li>
                {% endif %}
              {% endfor %}
            <li><a href="privado.php?c=empresa&a=listar&pagina={{cantidadPaginas}}">Ultima</a></li>
            <li>
              <a href="privado.php?c=empresa&a=listar&pagina={{sig}}" aria-label="Next">
              <span aria-hidden="true">»</span></a>
            </li>
         </ul>
       </nav>
      </div>
    {% endif %}
    <input type="hidden" value="{{paginaBaja}}" name="paginaBaja">
    </div>
  </div>

{% endblock %}