{% extends "basePrivada.html.twig" %}
 
{% block title %}Formulario Empresa {% endblock %}

{% block contenedor %}
		
	<form class="form-horizontal" id="nuevaempresa" action="privado.php?c=empresa&a=modificarCorreos" role="form" method="POST">
	<input type="hidden" name="idempresa" value="{{idempresa}}">
	<div class="contenedor-formulario">
		<div class="row fila-de-alerta">
			<div class=" col-lg-2"></div>
			<div class=" col-lg-8">
				 {% if aviso == 1 %}
					<div class="alert alert-success alert-dismissable">
		   	 			<button type="button" class="close" data-dismiss="alert">×</button>
		    			<strong>Perfecto!</strong> modificaste los correos con exito .
	  				</div>
	  			{% endif %}
			</div>
		</div>
		<div class="row fila-de-titulo">
			<div class=" col-lg-4"></div>
			<div class=" col-lg-4">
				<h3> Formulario Empresa</h3>
			</div>
		</div>
		{% for i in 0..12 %}	
			<div id="insertarCorreo{{i}}">
				<div class="row">
					<div class="col-lg-6" > 
					 	<div class="form-group"  >
							<label class="col-lg-3 control-label">Correo {{i + 1 }}: </label>
							<div class="col-lg-5"> 
								{% if i == 0 %}
									<input type="text" class="form-control" name="correo{{i}}" value="{{correosRelacionados[i].correo}}"required/>
								{% else %}
									<input type="text" class="form-control" name="correo{{i}}" value="{{correosRelacionados[i].correo}}"/>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="col-lg-6" > 
					 	<div class="form-group"  >
							<label class="col-lg-2 control-label">Descripcion: </label>
							<div class="col-lg-6 "> 
								<input type="text" class="form-control"  value="{{correosRelacionados[i].descripcion}}" name="caraccorreo{{i}}/"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		<div class="row fila-de-boton">
			 <div class=" col-lg-4"></div>
			 <div class=" col-lg-2">
				<a href="privado.php?c=empresa&a=listar&pagina=1">
					<button type="button" class="btn btn-default btn-lg btn-block col-lg-4">
						Volver al listado
					</button>
				</a>
			</div>
			 <div class=" col-lg-2">
				<button type="submit" class="btn btn-default btn-lg btn-block col-lg-4" name="guardarEmpresa">Guardar</button>
			</div>
				
			<div class=" col-lg-4"></div>
		</div>


	</div>
</form>
{% endblock %}