{% extends "basePrivada.html.twig" %}
 
{% block title %}Formulario Empresa {% endblock %}

{% block contenedor %}
		<form class="form-horizontal" id="nuevaempresa" action="privado.php?c=empresa&a=modificar" role="form" method="POST">
		<input type="hidden" name="idempresa" value="{{idempresa}}">
		<div class="contenedor-formulario">
			<div class="row aviso-completar">
				<div class=" col-lg-3"></div>
				<div class=" col-lg-6 col-md-6 col-sm-6 recuadro-aviso">
					<div class="alert alert-warning">
   	 					<strong> Los campos marcados con * deben ser completados obligatoriamente </strong>
  					</div>
				</div>
			</div>
			<div class="row fila-de-alerta">
				<div class=" col-lg-2"></div>
				 <div class=" col-lg-8">
				 	{% if aviso == 1 %}
						<div class="alert alert-success alert-dismissable">
		   	 				<button type="button" class="close" data-dismiss="alert">×</button>
		    				<strong>Perfecto!</strong> La empresa fue guardada con exito.
	  					</div>
  					{% elseif  aviso == 2 %}
  						<div class="alert alert-danger alert-dismissable">
		   	 				<button type="button" class="close" data-dismiss="alert">×</button>
		    				<strong>No se guardo la empresa!</strong> No re cagues ni utilicez f5 en el formulario. Causa: La empresa ya se encuentra registrada.
	  					</div>
	  				{% elseif  aviso == 3 %}
  						<div class="alert alert-danger alert-dismissable">
		   	 				<button type="button" class="close" data-dismiss="alert">×</button>
		    				<strong>No se guardo la empresa!</strong> No pudimos encontrar la empresa que intentas modificar
	  					</div>
	  				{% endif %}
				 </div>
			</div>
			<div class="row fila-de-titulo">
				<div class=" col-lg-4"></div>
				 <div class=" col-lg-4">
					<h3> Formulario Empresa</h3>
				 </div>
			</div>
			<div class="row">
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-3 control-label">Denominacion:* </label>
						<div class="col-lg-5 "> 
							<input type="text" class="form-control" name="denominacion" placeholder="Denominacion" value="{{unaEmpresa.getDenominacion}}" required/>
						</div>
					</div>
				</div>
				<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-6 control-label">Cant. Empleados:</label>
						<div class="col-lg-2 "> 
						  <input type="number" class="form-control" name="cantempleados" min='0' value="{{unaEmpresa.getCantempleados}}" />
						</div>
					</div>
				</div>
			 </div>
			 <div class="row">
				<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-6 control-label">Impor. Mensual:* </label>
						<div class="col-lg-2 "> 
						  <input type="text" class="form-control" name="importemensual" value="{{unaEmpresa.getImportemensual}}"placeholder="40.56" required/>
						</div>
					</div>
				</div>
				<div class=" col-lg-6">
				    <div class="form-group">
						<label class="col-lg-2 control-label">WEB:</label>
						<div class="col-lg-6 "> 
							<input type="text" class="form-control" name="web" value="{{unaEmpresa.getWeb}}"placeholder="www.ejemplo.com.ar" requiered/>
						</div>
					</div>
				</div>
			 </div>
			 <div class="row">
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">CUIT:* </label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="cuit" value="{{unaEmpresa.getCuit}}" placeholder="00-00000000-0" requiered/>
						</div>
					</div>
				</div>
				
			 </div>
			 <div class="row">	
			 	<div class=" col-lg-12">
			 		<div class="form-group">
					 	<label class="col-lg-4 control-label">Fecha Inicio como socio: *</label>
					 	<div class="col-lg-3">
							<input type="date" class="form-control" name="fechainicioce" value="{{unaEmpresa.getFechainicioce}}"required/>
						</div>
					</div>
				</div> 
			 </div>
			 <div class="row">	
			 	<div class=" col-lg-12">
			 		<div class="form-group">
					 	<label class="col-lg-4 control-label">Fecha Fundacion empresa: </label>
					 	<div class="col-lg-3">
							<input type="date" class="form-control" name="fechafundacion" value="{{unaEmpresa.getFechafundacion}}" />
					 	
						</div>
					</div>
				</div> 
			 </div>
			 <div id="insertarCategoria">
				<div class="col-lg-12">
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Categoria: </label>
						<div class="col-lg-4 "> 
							<select class="form-control" name="categoria" id="categoria" required/>
								{% for item in categorias %}
									{% if  item.id == unaEmpresa.getIdcategoria %}
										<option value="{{item.id}}" selected>{{item.descripcion}}</option>
									{% else %}
										<option value="{{item.id}}">{{item.descripcion}}</option>
									{% endif %}
								{% endfor %}	
							</select>
						</div>
						<button type="button" class="btn btn-default col-lg-2" onclick="cargarCategoria('insertarCategoria','Descripcion');">
							<span class="glyphicon glyphicon-plus-sign"></span>
						</button>
					</div>
				</div>
			</div>
			 <div id="insertarRubro">
				 <div class="col-lg-12"> 
				 	<div class="form-group">
						<label class="col-lg-2 control-label">Rubro: </label>
						<div class="col-lg-4 "> 
							<select class="form-control" name="rubro" id="rubro" >
								{% for item in rubros %}
									{% if  item.id == unaEmpresa.getIdrubro %}
										<option value="{{item.id}}" selected>{{item.descripcion}}</option>
									{% else %}
										<option value="{{item.id}}">{{item.descripcion}}</option>
									{% endif %}
									
								{% endfor %}	
							</select>
						</div>
						<button type="button" class="btn btn-default col-lg-2" onclick="cargarRubro('insertarRubro','Descripcion');">
							<span class="glyphicon glyphicon-plus-sign"></span>
						</button>	
					</div>
				</div>
			</div>
			 <div class="row">	
			 	<div class=" col-lg-12">
			 		<div class="form-group">
			 			<label class="col-lg-4 control-label">Detalle Actividad: </label>
					 	<div class="col-lg-3">
					 		<textarea id="detactividad" name="detactividad"onkeypress="return limita(event, 499);"rows="5"cols="90">{{unaEmpresa.getDetactividad}}</textarea>
						</div>
					</div>
				</div> 
			 </div>
			<div class="row">	
				 <div class=" col-lg-6">
					<input class="col-lg-2" type="checkbox" name="activo"{% if unaEmpresa.getActivo == 1 %}checked{% endif %}> 
					<label class="col-lg-8">¿Activo? </label>
				</div>
			</div>
			<div class="row fila-de-titulo">
				<div class=" col-lg-4"></div>
				 <div class=" col-lg-4">
					<h3> Contribuyente Asociado </h3>
				 </div>
			</div>
			<div class="row">
				<label class="control-label">Esta empresa tiene como contribuyente actual a:</label>
			</div>	
			<div class="row">
				<div class="col-lg-7"> 
			 		<div class="form-group">
			 				{% for item in abonados %}
				 				{% if item.numabonado == abonadoRelacionado.numabonado %}
									<label class=" control-label">El de abonado CE numero: {{item.numabonado}}</label>
									{% set esEsta = 2 %}	
								{% endif %}
							{% endfor %}
			 			
				 			{% for item in medidores %}
				 				{% if item.idmedidor == medidorRelacionado.idmedidor %}
									<label class=" control-label">Titular del medidor : {{item.nomyap}}</label>
								{% endif %}
							{% endfor %}
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group">
					<label class="control-label"><h4>Modificar forma de pago:</h4></label>

				</div>
			</div>
			
			<div class="row">
				<div  id="esAbonado">
					 <div class="col-lg-6"> 
					 	<div class="form-group">
							<div class="btn-group btn-group-md" role="group" aria-label="...">
				  				<button type="button" id="botonAbonado" class="btn btn-default" onclick="esAbonado(1)"> Abona en CE </button>
				  				<button type="button" id="botonMedidor" class="btn btn-default" onclick="esAbonado(0)"> Abona en CELTA </button>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div id="Medidor">
					<div class="row">
					 	<div class="col-lg-6"> 
					 		<div class="form-group">
								<label class="col-lg-2 control-label">Medidor: </label>
								<div class="col-lg-6 "> 
									<select class="form-control" name="medidor" id="selectMedidor">
										<option value="-1">Medidor</option>
									{% for item in medidores %}
										<option value="{{item.idmedidor}}">{{item.nomyap}}</option>
									{% endfor %}
									</select>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div id="Abonado">
					<div class="row">
						 <div class="col-lg-6"> 
						 		<div class="form-group">
									<label class="col-lg-6 control-label">Crear un nuevo abonado 
										<input type="checkbox" name="abonadoCheck" />
									</label>
									
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="control-label"> *Si el titular del medidor no existe vaya a crear uno nuevo </label>
					<input type="hidden" name="abonado" value="1">
				</div>
			</div>
			<div class="row fila-de-boton">
			 	<div class=" col-lg-4"></div>
			 	<div class=" col-lg-2">
					<a href="privado.php?c=empresa&a=listar&pagina=1">
						<button type="button" class="btn btn-default btn-lg btn-block col-lg-4" name="nuevoTelefono">
							Volver al listado
						</button>
					</a>
				</div>
			 	<div class=" col-lg-2">
					<button type="submit" class="btn btn-default btn-lg btn-block col-lg-4" name="guardarEmpresa">Guardar</button>
				</div>
				
				<div class=" col-lg-4"></div>
			</div>


		</div>
	</form>
{% endblock %}