{% extends "basePrivada.html.twig" %}
 
{% block title %}Formulario Empresa {% endblock %}

{% block contenedor %}
		
	<form class="form-horizontal" id="nuevaempresa" action="privado.php?c=empresa&a=modificarContactos" role="form" method="POST">
	<input type="hidden" name="idempresa" value="{{idempresa}}">
	<div class="contenedor-formulario">
		<div class="row fila-de-alerta">
			<div class=" col-lg-2"></div>
			<div class=" col-lg-8">
				 {% if aviso == 1 %}
					<div class="alert alert-success alert-dismissable">
		   	 			<button type="button" class="close" data-dismiss="alert">×</button>
		    			<strong>Perfecto!</strong> La empresa fue guardada con exito.
	  				</div>
  				{% elseif  aviso == 2 %}
  					<div class="alert alert-danger alert-dismissable">
		   	 			<button type="button" class="close" data-dismiss="alert">×</button>
		    			<strong>No se guardo la empresa!</strong> No re cagues ni utilicez f5 en el formulario. Causa: La empresa ya se encuentra registrada.
	  				</div>
	  			{% endif %}
				</div>
		</div>
		<div class="row fila-de-titulo">
			<div class=" col-lg-4"></div>
			<div class=" col-lg-4">
				<h3> Formulario Empresa</h3>
			</div>
		</div>
		{% for i in 0..20 %}	
			<div id="insertarContacto{{i}}">
				<div class="row">
					<div class="col-lg-6">
					 	<div class="form-group">
							<label class="col-lg-2 control-label">Contacto: </label> 
							<div class="col-lg-6 "> 
								<select class="form-control" name="contacto{{i}}" id="contacto0{{i}}">
									<option value="-1">Contacto</option>
									{% for item in contactos %}
										{% if (contactosRelacionados[i].idcontacto ==  item.idcontacto) %}
											<option value="{{item.idcontacto}}" selected>{{item.nombre}}</option>
										{% else %}
											<option value="{{item.idcontacto}}">{{item.nombre}}</option>
										{% endif %}	
										
									{% endfor %}	
								</select>
							</div>
						</div>
					</div>
					<div class="col-lg-6"> 
					 	<div class="form-group">
							<label class="col-lg-2 control-label">Relacion: </label>
							<div class="col-lg-6">  
								<input type="text" class="form-control" value="{{contactosRelacionados[i].relacion}}" name="relacion{{i}}" />
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		<div class="row fila-de-boton">
			 <div class=" col-lg-4"></div>
			 <div class=" col-lg-2">
				<a href="privado.php?c=empresa&a=listar&pagina=1">
					<button type="button" class="btn btn-default btn-lg btn-block col-lg-4">
						Volver al listado
					</button>
				</a>
			</div>
			 <div class=" col-lg-2">
				<button type="submit" class="btn btn-default btn-lg btn-block col-lg-4" name="guardarEmpresa">Guardar</button>
			</div>
				
			<div class=" col-lg-4"></div>
		</div>


	</div>
</form>
{% endblock %}