{% extends "basePrivada.html.twig" %}
 
{% block title %} Lista de usuarios {% endblock %}
{% block contenedor %}
<script>

// var status = '{% if statusActivo is null %}2{% else %}{{statusActivo}}{%endif%}';

$(document).ready(function() {
	/* Filtros */
     $("#dato").css("display", "none");
     $("#roles").css("display", "none");
     $("#EnviarFiltro").css("display", "none");

     $('#datoRol').on('change',function(){
   	 	var valor = $(this).val();
     	document.getElementById('datoTexto').value=valor;
	 });
     //evaluarActivo(status);
});

/* 	function cambiarActivo(){
		status ++;
		if (status == 3){status = 0;}
		evaluarActivo(status);
		document.getElementById('datoActivo').value=status;
	}

	function evaluarActivo(status){
		if (status == 2){
			$('#accionActivo').removeClass('label-success');
			$('#accionActivo').addClass('label-default');
			document.getElementById('accionActivo').innerHTML = 'Activos e Inactivos';
		}
		else if (status == 1){
			$('#accionActivo').removeClass('label-danger');
			$('#accionActivo').addClass('label-success');	
			document.getElementById('accionActivo').innerHTML = 'Sólo activos';
		}
		else if (status == 0){
			$('#accionActivo').removeClass('label-default');
			$('#accionActivo').addClass('label-danger');	
			document.getElementById('accionActivo').innerHTML = 'Sólo inactivos';
		}
	}
*/
	function getval(sel) {
       switch (sel.value) {
         case "Todos":
            location.reload();
            break;

         case "Nombre y/o Apellido":
         	$("#dato").css("display", "inline-block");
         	$("#datoTexto").attr("placeholder", "Ej.: Jorge Pérez");
         	$("#roles").css("display", "none");
         	$("#EnviarFiltro").css("display", "inline-block");
         	document.getElementById('tipoFiltro').value = 'nomyap';
            break;

         case "Usuario":
         	$("#dato").css("display", "inline-block");
         	$("#datoTexto").attr("placeholder", "Ej.: su_usuario");
         	$("#roles").css("display", "none");
         	$("#EnviarFiltro").css("display", "inline-block");
         	document.getElementById('tipoFiltro').value = 'usuario';
            break;

         case "Email":
         	$("#dato").css("display", "inline-block");
         	$("#datoTexto").attr("placeholder", "Ej.: su@email.com");
         	$("#roles").css("display", "none");
         	$("#EnviarFiltro").css("display", "inline-block");
         	document.getElementById('tipoFiltro').value = 'email';
            break;

         case "Rol":
         	$("#dato").css("display", "none");
         	$("#roles").css("display", "inline-block");
         	$("#EnviarFiltro").css("display", "inline-block");
         	document.getElementById('tipoFiltro').value = 'rol';
            break;
        }
    }

</script>
  <h3 id="tituloBloque">Listado de usuarios</h3>
  <div class="clearfix"></div>

  {% if eliminado == null %}
  {% elseif eliminado == 1 %}
  	<div class="alert alert-success" role="alert">El usuario fue eliminado correctamente</div>
  {% else %}
  	<div class="alert alert-success" role="alert">El usuario no pudo ser eliminado</div>
  {% endif %}
  {% if filtroActivo == 0 %}
  		<form method="POST" action="privado.php?c=usuarios&a=listar" id="form_herramientas_usuario">
  		<div id="herramientasTop" class="inline-block">
				  <div class="accionActivoparent inline-block">

				  			<!--
				  				<input type="hidden" name="datoActivo" id="datoActivo" value="{{statusActivo}}">
				  			-->
				  			<input type="hidden" name="tipoFiltro" id="tipoFiltro">

					  		<!--
					  			<a href="#" onclick="cambiarActivo();document.getElementById('form_herramientas_usuario').submit();" class="left inline-block">
					  			<span id="accionActivo" class="label label-default">Activos e Inactivos</span>
					  		</a>
					  		-->
				  </div>
				  <div id="filtroPor" class="inline-block">
				  		<span> 
				  			<b>Filtrar por:</b>
				  		</span>
				  		<form  method="POST" id="formFiltros" class="inline-block">
				  		<select class="form-control" onchange="getval(this);">
				  			<option selected>Todos</option>
				  			<option>Nombre y/o Apellido</option>
				  			<option>Usuario</option>
				  			<option>Email</option>
				  			<option>Rol</option>
				  		</select>
				  		</form>
				  </div>
				  <div id="dato">
		                        <input id="datoTexto" class="form-control" pattern="[a-zA-Z0-9ñÑá-úÁ-Úä-üÄ-Ü ]+" type="text" name="dato">
		          </div>

		          <div id="roles" class="none">
		          	{% if ListaRoles is null %}
		          	{% else %}
		          		<select name="datoTexto" id="datoRol" class="form-control">
		          			{% for rol in ListaRoles %}
		          				{% if loop.index == 1 %} <option value="0" selected></option> {% endif %}
		          				<option value="{{rol.idrol}}">{{rol.nombre}}</option>
		          			{% endfor %}
		          		</select>
		          	{% endif %}
		          </div>
		          <button id="EnviarFiltro" class="btn btn-default" onclick="document.getElementById('form_herramientas_usuario').submit();">Enviar</button>
        </div>
        </form>
        {% else %}
        	{% if datoFiltro | length <= 10 %}
        	     <div class="alert alert-info col-lg-4 filtrandoresultados" role="alert">
          	{% elseif datoFiltro | length > 10 and datoFiltro | length <=20 %}
               <div class="alert alert-info col-lg-5 filtrandoresultados" role="alert">
          	{% elseif datoFiltro | length >20 %}
               <div class="alert alert-info col-lg-6 filtrandoresultados" role="alert">
          	{% endif %}
          	{% if tipoFiltro == 'nomyap' %}
          		{% set tipoFiltro = 'Nombre/Apellido' %}
          	{% endif %}
        		<span>Filtrando resultados para {{tipoFiltro}} <b>{{datoFiltro}}</b></span>
        	</div>        		
        	<div class="col-lg-2">
	        	<a href="privado.php?c=usuarios&a=listar" style="text-decoration:none" class="btn btn-default btn-block inline-block" target="_self">
			  			Quitar filtro
			  	</a>
		  	</div>
        {% endif %}
          <div id="botonesTop" class="block right">
          		<form id="enviarPDF" class="inline-block" action="privado.php?c=usuarios&a=pdf" method="POST">
	          		<input type="hidden" id="datosPDF" name="datosPDF" value="{{ ListaUsuarios|json_encode() }}"/>
	          		{% if ListaUsuarios is null %}
	          		{% else %}
			  		<a href="#" onclick="document.getElementById('enviarPDF').submit();" style="text-decoration:none" class="btn btn-default btn-block inline-block">
			  			Ver en PDF
			  		</a>
			  		{% endif %}
		  		</form>
		  		<a href="privado.php?c=usuarios&a=alta" style="text-decoration:none" class="btn btn-default btn-block inline-block" target="_self">
		  			Nuevo usuario
		  		</a>
  		  </div>
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Usuario</th>
      <th>E-mail</th>
      <th>Rol</th>
      <th>Activo</th>
      <th>Controles</th>
    </tr>
  </thead>
  <tbody>
    {% if ListaUsuarios is null %}
		<tr>
			<td colspan="7">
				No se encontraron usuarios.
			</td>
		</tr>
	{% else %}
		{% for usuario in ListaUsuarios %}
			<tr>
				<td> {{ usuario.nombre }}</td>
				<td> {{ usuario.apellido }}</td>
				<td> {{ usuario.username }}</td>
				<td> {{ usuario.correo }}</td>
				{% if ListaRoles is null %}
					<td> - </td>
				{% else %}
					{% for rol in ListaRoles %}
						{% if rol.idrol == usuario.idrol %}
							<td> {{ rol.nombre }}</td>
						{% endif %}
					{% endfor %}
				{% endif %}
				<td> 
					{% if usuario.activo == 1 %}
						<span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span>
					{% else %}
						<span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
					{% endif %}
				</td>
				<td class="controles">
				<!--Ver user-->
					<form method="post" action="privado.php?c=usuarios&a=detalle" id="verUsuario{{usuario.idusuario}}">
						<input type="hidden" value="{{usuario.idusuario}}" name="id">
						<a href="javascript:{}" onclick="document.getElementById('verUsuario{{usuario.idusuario}}').submit(); return false;">
							<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
						</a>
					</form>
				<!--Modificar user-->
					<form method="post" action="privado.php?c=usuarios&a=modificar" id="modificarUsuario{{usuario.idusuario}}">
						<input type="hidden" value="{{usuario.idusuario}}" name="idusuario">
						<a href="javascript:{}" onclick="document.getElementById('modificarUsuario{{usuario.idusuario}}').submit(); return false;">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</a>
					</form>
				<!--Eliminar user -->
					<form method="post" action="privado.php?c=usuarios&a=eliminar&id={{usuario.idusuario}}" id="eliminaUsuario{{usuario.idusuario}}">
						<a href="javascript:{}" onclick="if(confirm('¿Está seguro que desea eliminar este usuario?')){document.getElementById('eliminaUsuario{{usuario.idusuario}}').submit();} return false;">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</a>
					</form>
				</td>
			</tr>
		{% endfor %}
	{% endif %}
  </tbody>
  </table>
{% endblock %}