{% extends "basePrivada.html.twig" %}
 
{% block title %} Modificar Usuario {% endblock %}
{% block contenedor %}
<script>

function cambiarActivo(nuevoActivo){
	document.getElementById("activo").value=nuevoActivo;
	if (nuevoActivo == 1){
		$("#botonActivoSI").addClass("activoSI");
		$("#botonActivoNO").removeClass("activoSI");
		$("#botonActivoNO").removeClass("activoNO");
	}
	else {
		$("#botonActivoSI").removeClass("activoSI");
		$("#botonActivoSI").removeClass("activoNO");
		$("#botonActivoNO").addClass("activoNO");
	}
}

</script>


	<form class="form-horizontal" action="privado.php?c=usuarios&a=misdatos" role="form" method="POST">
		<input type="hidden" value="{{unUsuario.idusuario}}" name="idusuario">
		<div class="contenedor-formulario">
			<div class="row fila-de-alerta">
				<div class=" col-lg-3"></div>
				 <div class=" col-lg-5">
				 	{% if aviso is null %}
				 	{% else %}
				 		{% if tipoAviso == 'exito' %}
				 		<div class="alert alert-success alert-dismissable">
		   	 				<button type="button" class="close" data-dismiss="alert">×</button>
		    				  {{aviso}}
	  					</div>
	  					{% elseif tipoAviso == 'error' %}
	  						<div class="alert alert-danger alert-dismissable">
		   	 				<button type="button" class="close" data-dismiss="alert">×</button>
		    				  {{aviso}}
	  					</div>
	  					{% endif %}
  					{% endif %}
				 </div>
			</div>
			<div class="row fila-de-titulo">
				<div class=" col-lg-4"></div>
				 <div class=" col-lg-4">
					<h3> Modificar mis datos </h3>
				 </div>
			</div>
			<div class="row aviso-completar">
				<div class=" col-lg-4"></div>
				<div class=" col-lg-4 col-md-4 col-sm-4 recuadro-aviso">
					<div class="alert alert-warning">
   	 					<center><strong> (*) Todos los campos son obligatorios </strong></center>
  					</div>
				</div>
			</div>
			 <div class="row">
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Nombre: </label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="nombre" value="{{unUsuario.nombre}}" pattern="[a-zA-Z ]+" title="No parece un nombre válido" required/>
						</div>
					</div>
				</div>
				<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Apellido: </label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="apellido" value="{{unUsuario.apellido}}" pattern="[a-zA-Z ]+" title="No parece un apellido válido" required/>
						</div>
					</div>
				</div>
			  </div>
			   <div class="row">
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Usuario: </label>
						<div class="col-lg-6 "> 
						  <input type="hidden" value="{{unUsuario.username}}" name="usuario">
						  <label class="col-lg-2 control-label gris">{{unUsuario.username}}</label>
						</div>
					</div>
				</div>
				<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Contraseña: </label>
						<div class="col-lg-6 "> 
						  <input type="password" class="form-control" name="password" value="{{unUsuario.password}}" title="Los caracteres que se aceptan son sólo letras y números" required/>
						</div>
					</div>
				</div>
			 </div>
			 <div class="row">
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">E-mail: </label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="email" value="{{unUsuario.correo}}" pattern="[a-zA-Z0-9.+_-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9.-]+" title="No parece un E-mail válido" required/>
						</div>
					</div>
				</div>
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Rol: </label>
						<div class="col-lg-6 "> 
								{% for rol in ListaRoles %}
									{% if rol.idrol == unUsuario.idrol %}
									<input type="hidden" value="{{rol.idrol}}" name="rol">
										<label class="col-lg-2 control-label gris">{{rol.nombre}}</label>
									{% endif %}
									
								{% endfor %}
						</div>
					</div>
				</div>
			 </div>
			  <div class="row">
				<div class=" col-lg-6">
				<label class="col-lg-2">Activo: </label>
				<input type="hidden" name="activo" id="activo" value="{{unUsuario.activo}}">
					<div class="btn-group btn-group-xs" role="group" aria-label="...">
						{%if unUsuario.activo == 1 %}
	  						<button type="button" id="botonActivo" class="btn btn-default activoSI"> SI </button>
	  					{% else %}
	  						<button type="button" id="botonActivoNO" class="btn btn-default activoNO"> NO </button>
	  					{% endif %}
					</div>
				</div>
			 </div>
			 <div class="row fila-de-boton">
			 	<div class=" col-lg-4"></div>
			 	<div class=" col-lg-4">
				<button type="submit" class="btn btn-default btn-lg btn-block col-lg-4" name="enviarUsuario">Guardar</button>
				</div>
				<div class=" col-lg-4"></div>
			</div>

		</div>
	</form>
{% endblock %}