{% extends "basePrivada.html.twig" %}
 
{% block title %} Modificar Usuario {% endblock %}
{% block contenedor %}
<script>

$(document).ready(function() {
      "{%if unUsuario.activo == 1 %}"
	      	$("#botonActivoSI").addClass("activoSI");
			$("#botonActivoNO").removeClass("activoSI");
			$("#botonActivoNO").removeClass("activoNO");
		"{%else%}"
			$("#botonActivoSI").removeClass("activoSI");
			$("#botonActivoSI").removeClass("activoNO");
			$("#botonActivoNO").addClass("activoNO");
		"{% endif %}"
});


function cambiarActivo(nuevoActivo){
	document.getElementById("activo").value=nuevoActivo;
	if (nuevoActivo == 1){
		$("#botonActivoSI").addClass("activoSI");
		$("#botonActivoNO").removeClass("activoSI");
		$("#botonActivoNO").removeClass("activoNO");
	}
	else {
		$("#botonActivoSI").removeClass("activoSI");
		$("#botonActivoSI").removeClass("activoNO");
		$("#botonActivoNO").addClass("activoNO");
	}
}

</script>


	<form class="form-horizontal" action="privado.php?c=usuarios&a=modificar&id={{unUsuario.idusuario}}" role="form" method="POST">
		<input type="hidden" value="{{unUsuario.idusuario}}" name="idusuario">
		<div class="contenedor-formulario">
			<div class="row fila-de-alerta">
				<div class=" col-lg-4"></div>
				 <div class=" col-lg-4">
				 	{% if aviso is null %}
				 	{% else %}
				 		{% if tipoAviso == 'exito' %}
				 		<div class="alert alert-success alert-dismissable">
		   	 				<button type="button" class="close" data-dismiss="alert">×</button>
		    				  {{aviso}}
	  					</div>
	  					{% elseif tipoAviso == 'error' %}
	  						<div class="alert alert-danger alert-dismissable">
		   	 				<button type="button" class="close" data-dismiss="alert">×</button>
		    				  {{aviso}}
	  					</div>
	  					{% endif %}
  					{% endif %}
				 </div>
			</div>
			<div class="row fila-de-titulo">
				<div class=" col-lg-4"></div>
				 <div class=" col-lg-4">
					<h3> Modificar Usuario</h3>
				 </div>
			</div>
			<div class="row aviso-completar">
				<div class=" col-lg-4"></div>
				<div class=" col-lg-4 col-md-4 col-sm-4 recuadro-aviso">
					<div class="alert alert-warning">
   	 					<center><strong> (*) Todos los campos son obligatorios </strong></center>
  					</div>
				</div>
			</div>
			 <div class="row">
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Nombre: </label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="nombre" value="{{unUsuario.nombre}}" title="No parece un nombre válido"  pattern="[a-zA-Z ]+" required/>
						</div>
					</div>
				</div>
				<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Apellido: </label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="apellido" value="{{unUsuario.apellido}}" title="No parece un apellido válido"  pattern="[a-zA-Z ]+" required/>
						</div>
					</div>
				</div>
			  </div>
			   <div class="row">
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Usuario: </label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="usuario" value="{{unUsuario.username}}" title="No parece un usuario válido" required/>
						</div>
					</div>
				</div>
				<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Contraseña: </label>
						<div class="col-lg-6 "> 
						  <input type="password" class="form-control" name="password" value="{{unUsuario.password}}" title="Los caracteres que se aceptan son sólo letras y números" required/>
						</div>
					</div>
				</div>
			 </div>
			 <div class="row">
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">E-mail: </label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="email" value="{{unUsuario.correo}}" pattern="[a-zA-Z0-9.+_-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9.-]+" title="No parece un E-mail válido" required/>
						</div>
					</div>
				</div>
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-2 control-label">Rol: </label>
						<div class="col-lg-6 "> 
							<select name="rol" class="form-control">
								{% for rol in ListaRoles %}
									{% if rol.idrol == unUsuario.idrol %}
										<option value="{{rol.idrol}}" selected>{{rol.nombre}}</option>
									{% else %}
										<option value="{{rol.idrol}}">{{rol.nombre}}</option>
									{% endif %}
									
								{% endfor %}
								
						  </select>
						  <!--<input type="text" class="form-control" name="rol">-->
						</div>
					</div>
				</div>
			 </div>
			  <div class="row">
				<div class=" col-lg-6">
				<label class="col-lg-2">Activo: </label>
				<input type="hidden" name="activo" id="activo" value="{{unUsuario.activo}}">
					<div class="btn-group btn-group-xs" role="group" aria-label="...">
	  						<button type="button" id="botonActivoSI" class="btn btn-default" onclick="cambiarActivo(1)"> SI </button>
	  						<button type="button" id="botonActivoNO" class="btn btn-default" onclick="cambiarActivo(0)"> NO </button>
					</div>
				</div>
			 </div>
			 <div class="row fila-de-boton">
			 	<div class=" col-lg-4"></div>
			 	<div class=" col-lg-2">
			 		<a href="privado.php?c=usuarios&a=listar" class="btn btn-default btn-lg btn-block col-lg-4">Volver al listado</a>
			 	</div>
			 	<div class=" col-lg-2">
				<button type="submit" class="btn btn-default btn-lg btn-block col-lg-4" name="enviarUsuario">Guardar</button>
				</div>
			
			</div>

		</div>
	</form>
{% endblock %}