{% extends "basePrivada.html.twig" %}
 
{% block title %} Usuario {{usuario.username}} {% endblock %}
{% block contenedor %}
  <h3 id="tituloBloque">Detalle de usuario</h3>
  <div class="clearfix"></div>
  <div id="bloqueInfo">
  	<input type="hidden" value="{{usuario.idusuario}}" name="idusuario">
	  <p><b>Nombre de usuario: </b> {{usuario.username}} </p>
	  <p> <b> Apellido y Nombre: </b> {{usuario.apellido}}, {{usuario.nombre}}</p>
	  <p> <b> E-mail: </b> {{usuario.correo}}</p>
	  <p> <b> Rol: </b>
	  	{% if ListaRoles is null %}
						<td> - </td>
					{% else %}
						{% for rol in ListaRoles %}
							{% if rol.idrol == usuario.idrol %}
								<td> {{ rol.nombre }}</td>
							{% endif %}
						{% endfor %}
					{% endif %}
		</p>
		<b> Activo: </b>
			{% if usuario.activo == 1 %}
						<span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span>
					{% else %}
						<span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
					{% endif %}
	</div> 
						<form method="post" action="privado.php?c=usuarios&a=modificar" id="modificarUsuario{{usuario.idusuario}}">
						<input type="hidden" value="{{usuario.idusuario}}" name="idusuario">
						<a href="javascript:{}" onclick="document.getElementById('modificarUsuario{{usuario.idusuario}}').submit(); return false;" style="text-decoration:none">
							<button type="submit" class="btn btn-default btn-lg btn-block botonVer" name="modificarUsuario">Modificar</button>
						</a>



<a class="btn btn-default btn-lg btn-block botonVer" href="privado.php?c=usuarios&a=listar" name="back">Volver al listado</a>

{% endblock %}