{% extends "basePrivada.html.twig" %}
 
{% block title %}Formulario Correo {% endblock %}

{% block contenedor %}
	<script type="text/javascript">
		tinymce.init({
			language : "es",
		    selector: "textarea",theme: "modern",width: 750,height: 300,resize: false,
		    plugins: ["advlist autolink link image lists charmap print preview hr anchor pagebreak",
		         "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
		         "table contextmenu directionality emoticons paste textcolor responsivefilemanager"],
		   toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
		   toolbar2: "| responsivefilemanager | link unlink anchor | image media | forecolor backcolor  | print preview code ",
		   image_advtab: true ,
		 });

		$(document).ready(function() {
			$("#mceu_23").css("width","100%");
		});
	</script>
<form class="form-horizontal" action="privado.php?c=correo&a=enviar" role="form" method="POST" enctype="multipart/form-data">
	<div class="contenedor-formulario">
		{% for item in empresas %}
			<input type="hidden" name="arrayIdempresa[]" value="{{item}}" >
		{% endfor %}

		<div class="row fila-de-alerta">
			<div class=" col-lg-2"></div>
			<div class=" col-lg-8">
				{% if error == 1 %}
					<div class="alert alert-success alert-dismissable">
		   	 			<button type="button" class="close" data-dismiss="alert">×</button>
		    			<strong>Error!</strong> No seleccionaste emrpesas para enviar correos, intenta volver al listado de empresas y seleccionarlas.
	  				</div>
  				{% elseif  error == 2 %}
  					<div class="alert alert-danger alert-dismissable">
		   	 			<button type="button" class="close" data-dismiss="alert">×</button>
		    			<strong>Error!</strong> El servidor no admite un archivo tan grande.
	  				</div>
	  			{% elseif  error == 3 %}
  					<div class="alert alert-danger alert-dismissable">
		   	 			<button type="button" class="close" data-dismiss="alert">×</button>
		    			<strong>Error!</strong> Se cancelo el envio durante la carga del archivo
	  				</div>
	  			{% elseif  error == 4 %}
  					<div class="alert alert-danger alert-dismissable">
		   	 			<button type="button" class="close" data-dismiss="alert">×</button>
		    			<strong>Error!</strong> El archivo es nulo
	  				</div>
	  			{% endif %}
			</div>
		</div>
		
		<div class="row fila-de-titulo">
			<div class=" col-lg-4"></div>
				<div class=" col-lg-4">
					<h3> Formulario Correo</h3>
				</div>
		</div>
		<div class="row aviso-completar">
			<div class=" col-lg-3"></div>
			<div class=" col-lg-6 col-md-6 col-sm-6 recuadro-aviso">
				<div class="alert alert-warning">
   	 				<strong> Los campos marcados con * deben ser completados obligatoriamente </strong>
  				</div>
			</div>
		</div>	            
		<div class="row">
			<div class="col-lg-12"> 
			 	<div class="form-group">
					<label class="col-lg-2 control-label">Asunto: *</label>
					<div class="col-lg-8 "> 
						<input type="text" class="form-control" name="asunto" placeholder="Asunto" required/>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			 <div class="col-lg-12"> 
			 	<div class="form-group">
					<label class="col-lg-2 control-label">Adjuntos: *</label>
					<div class="col-lg-8 "> 
						<input id="input-es" name="adjunto" type="file" multiple class="file-loading">	
						<script>
							$("#input-es").fileinput({
							    language: "es",
							    showUpload:false, 
							});
						</script>	
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12"> 
			 	<div class="form-group">
					<label class="col-lg-2 control-label">Msj: *</label>
					<div class="col-lg-8 " > 
						<div id="wmd-button-bar">
						 	<textarea name="cuerpoMensaje"/></textarea>
					 	</div>
					</div>
				</div>
			</div>
		 </div>
		 <div class="row fila-de-boton">
			 <div class=" col-lg-4"></div>
			 <div class=" col-lg-4">
				<button type="submit" class="btn btn-default btn-lg btn-block col-lg-4" name="enviarCorreo">Enviar</button>
			</div>
			<div class=" col-lg-4"></div>
		 </div>
	</div>
</form>
{% endblock %}