{% extends "basePrivada.html.twig" %}
 
{% block title %} Crear titular de medidor {% endblock %}
{% block contenedor %}
	{% if modo == 'altaNormal' %}
		<form class="form-horizontal" action="privado.php?c=medidor&a=altaNormal" role="form" method="POST">
	{% else %}
		<form class="form-horizontal" action="privado.php?c=medidor&a=alta&id={{idempresa}}" role="form" method="POST">
	{% endif %}
		<input type="hidden" name="idempresa" value="{{idempresa}}">
		<div class="contenedor-formulario">
			<div class="row fila-de-alerta">
				<div class=" col-lg-4"></div>
				 <div class=" col-lg-4">
				 	{% if aviso is null %}
				 	{% else %}
				 		{% if aviso == 1 %}
				 		<div class="alert alert-success alert-dismissable">
		   	 				<button type="button" class="close" data-dismiss="alert">×</button>
		    				  Perfecto! El titular de medidor se cargo correctamente
	  					</div>
	  					{% elseif aviso == 2 %}
	  						<div class="alert alert-danger alert-dismissable">
		   	 				<button type="button" class="close" data-dismiss="alert">×</button>
		    					No se pudo cargar el titular de medidor compruebe los datos e intente nuevamente.
	  					</div>
	  					{% endif %}
  					{% endif %}
				 </div>
			</div>
			<div class="row fila-de-titulo">
				<div class=" col-lg-4"></div>
				 <div class=" col-lg-4">
					<h3> Nuevo titular de medidor</h3>
				 </div>
			</div>
			<div class="row aviso-completar">
				<div class=" col-lg-3"></div>
				<div class=" col-lg-6 col-md-6 col-sm-6 recuadro-aviso">
					<div class="alert alert-warning">
   	 					<center><strong> Los campos marcados con * deben ser completados obligatoriamente </strong></center>
  					</div>
				</div>
			</div>
			 <div class="row">
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-4 control-label">Apellido y Nombre: * </label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="nomyap" placeholder="Pérez, Juan" required/>
						</div>
					</div>
				</div>
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-4 control-label">Teléfono: </label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="telefono" placeholder="02983 123456" />
						</div>
					</div>
				</div>
				</div>
				<div class="row">
				<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-4 control-label">Domicilio: </label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="domicilio" placeholder="Av. Moreno 999" />
						</div>
					</div>
				</div>
			 
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-4 control-label">Importe: *</label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="importe" placeholder="00.00"  required/>
						</div>
					</div>
				</div>
				</div>
				<div class="row">
			 	<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-4 control-label">Núm. de usuario: * </label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="numusuario" placeholder="123456"  required/>
						</div>
					</div>
				</div>
				<div class="col-lg-6"> 
			 		<div class="form-group">
						<label class="col-lg-4 control-label">Núm. de suministro: *</label>
						<div class="col-lg-6 "> 
						  <input type="text" class="form-control" name="numsuministro" placeholder="123456"  required/>
						</div>
					</div>
				</div>
				<div class=" col-lg-12">
			 		<div class="form-group">
					 	<label class="col-lg-4 control-label">Ultimo pago registrado: </label>
					 	<div class="col-lg-3">
							<input type="date" class="form-control" name="fechadeultimopago"  required/>
						</div>
					</div>
				</div> 
			 </div>
			 <div class="row fila-de-boton">
			 	<div class=" col-lg-4"></div>
			 	<div class=" col-lg-2">
			 		<a href="privado.php?c=medidor&a=listar&pagina=1" class="btn btn-default btn-lg btn-block col-lg-4">Volver al listado</a>
			 	</div>
			 	<div class=" col-lg-2">
				<button type="submit" class="btn btn-default btn-lg btn-block col-lg-4" name="enviarMedidor">Guardar</button>
				</div>
				
			</div>

		</div>
	</form>
{% endblock %}