{% extends "basePrivada.html.twig" %}
 
{% block title %}Formulario Medidor CE {% endblock %}

{% block contenedor %}
	<form class="form-horizontal" action="privado.php?c=medidor&a=eleccion&id={{idempresa}}" role="form" method="POST">
		<input type="hidden" value="{{idempresa}}" name="idempresa">
		
		<div class="row">
			Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec efficitur enim ipsum, eget fringilla nisl tempus eu. Sed et laoreet arcu, non mattis sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam consectetur tristique ipsum. Maecenas quam mi, tincidunt eu eros fermentum, placerat ultrices nisi. Fusce non sem viverra, tempus est quis, auctor tortor. Pellentesque non enim sit amet nisl dapibus interdum at eget leo.
		</div>

		<div class="row fila-de-boton" >
			<div class="col-lg-2"></div>
			<div class="col-lg-4">
				<button type="submit" class="btn btn-default btn-lg btn-block col-lg-4" name="nuevoSocio">
					Asociar a un Contacto
				</button>
			</div>
			<div class=" col-lg-4">
				<a href="privado.php?c=empresa&a=listar&pagina=1">
					<button type="button" class="btn btn-default btn-lg btn-block col-lg-4" >
						Al listado de empresas
					</button>
				</a>
			</div>
		</div>
	</form>
{% endblock %}